# Eureka configuration
eureka:
  instance:
    # Hostname will be the docker generated hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    preferIpAddress: true
  client:
    serviceUrl:
      # Location of the discovery service to register this service
      defaultZone: http://${thule.discoveryservice.host:localhost}:${thule.discoveryservice.port:8761}/eureka/

# Spring actuator configuration
info:
  description: Thule Email Service
  name: ${spring.application.name}

# Spring boot configuration
spring:
  application:
    name: thule-email-service
  mail:
    host: smtp.gmail.com
    password: 1nsleyopie
    port: 587
    username: thule@serin-consultancy.co.uk
    properties:
      # mail.debug: true
      mail.smtp.auth: true
      mail.smtp.ssl.trust: "*"
      mail.smtp.starttls.enable: true
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    baseUrl: http://172.17.0.1:9411 # Docker bridge IP address

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        host: 172.17.0.1 # Docker bridge IP address
        port: 5400