# Eureka configuration
eureka:
  instance:
    # Hostname will be the docker generated hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    preferIpAddress: true
  client:
    serviceUrl:
      # Location of the discovery service to register this service
      defaultZone: http://${thule.discovery.service.host:localhost}:${thule.discovery.service.port:8761}/eureka/

# Spring actuator configuration
endpoints:
  sensitive: false
info:
  description: Thule Email Service
  name: ${spring.application.name}
management:
  security:
    # Disabled to enable health endpoint to show complete health rather than just 'status'
    enabled: false

# Spring server configuration
server:
  port: 8091

# Spring boot configuration
spring:
  application:
    name: thule-email-service
  mail:
    host: smtp.gmail.com
    password: 1nsleyopie
    port: 587
    username: thule@serin-consultancy.co.uk
    properties:
      # mail.debug: true
      mail.smtp.auth: true
      mail.smtp.ssl.trust: "*"
      mail.smtp.starttls.enable: true
  sleuth:
      sampler:
        percentage: 1.0
  zipkin:
    baseUrl: http://zipkin-host:9411

# Thule configuration
thule:
  logging:
    logstash:
      host: logstash-host
      port: 5400