# Spring boot configuration
spring:
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      # mail.debug: true
      mail.smtp.auth: true
      mail.smtp.ssl.trust: "*"
      mail.smtp.starttls.enable: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://piglet.serin-consultancy.co.uk/thule-authentication-service/auth/realms/thule
