# Spring actuator configuration
info:
  description: Thule Email Service
  name: ${spring.application.name}

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

# Spring Security configuration
security:
  oauth2:
    resource:
      jwt:
        key-value: secret

# Server configuration
server:
  forward-headers-strategy: framework

# Spring boot configuration
spring:
  application:
    name: thule-email-service
  mail:
    host: smtp.gmail.com
    password: 1nsleyopie
    port: 587
    username: thule@serin-consultancy.co.uk
    properties:
      # mail.debug: true
      mail.smtp.auth: true
      mail.smtp.ssl.trust: "*"
      mail.smtp.starttls.enable: true
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh:9411
    sender:
      type: web

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh