<nb-card class="card1211">
  <nb-card-header>
    <div class="space space5111">
      <h6 class="heading31 text-undefined text-alignment-left text-transform-none">Home Work</h6>
      <div class="space space251">
        <nb-icon class="icon97" nbTooltip="" icon="link-2"></nb-icon>
        <nb-icon class="icon98" nbTooltip="" icon="close-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space6111">
      <div class="space space142412">
        <div class="space space342">
          <nb-checkbox class="checkbox11" status="success">Get up</nb-checkbox>
          <nb-icon class="icon99" nbTooltip="" icon="trash-2"></nb-icon>
        </div>
        <div class="space space3412">
          <nb-checkbox class="checkbox12" status="success">Don't give up the fight</nb-checkbox>
          <nb-icon class="icon100" nbTooltip="" icon="trash-2"></nb-icon>
        </div>
        <div class="space space34111">
          <nb-checkbox class="checkbox13" status="success">Do something else</nb-checkbox>
          <nb-icon class="icon101" nbTooltip="" icon="trash-2"></nb-icon>
        </div>
      </div>
      <div class="space space1424111">
        <input nbInput class="input32 size-xl-medium" placeholder="Write new item and hit &quot;Enter&quot;" type="text" shape="rectangle" status="basic">
      </div>
    </div>
  </nb-card-body>
</nb-card>