<nb-card class="card22112">
  <nb-card-header>
    <div class="space space144112">
      <div class="space space173112">
        <h6 class="heading41 text-undefined text-alignment-left text-transform-none">All Teachers</h6>
      </div>
      <div class="space space1712112">
        <input nbInput class="input34 size-xl-small" placeholder="Search" type="text" shape="rectangle" status="basic">
        <div class="space space66">
          <nb-icon class="icon131" nbTooltip="" icon="download-outline"></nb-icon>
          <nb-icon class="icon132" nbTooltip="" icon="settings-2-outline"></nb-icon>
          <nb-icon class="icon133" nbTooltip="" icon="sync-outline"></nb-icon>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space152112">
      <app-table12112></app-table12112>
    </div>
  </nb-card-body>
</nb-card>