<nb-card class="card15111">
  <nb-card-header>
    <div class="space space54111">
      <h6 class="heading15 text-undefined text-alignment-left text-transform-none">Search Student Promotion</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space64111">
      <div class="space space72212">
        <label class="text92 text-undefined text-alignment-left text-transform-none label">Current Section</label>
        <input nbInput class="input8 size-xl-medium" placeholder="2017-2018" type="text" shape="rectangle" status="basic">
      </div>
      <div class="space space722121">
        <label class="text93 text-undefined text-alignment-left text-transform-none label">Promote To Section</label>
        <input nbInput class="input9 size-xl-medium" placeholder="2017-2018" type="text" shape="rectangle" status="basic">
      </div>
      <div class="space space7221211">
        <label class="text94 text-undefined text-alignment-left text-transform-none label">Promotion from Class</label>
        <nb-select class="select2 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="1">1</nb-option>    
            <nb-option value="2">2</nb-option>    
            <nb-option value="3">3</nb-option>
        </nb-select>
      </div>
      <div class="space space7221212">
        <label class="text95 text-undefined text-alignment-left text-transform-none label">Promotion To Class</label>
        <nb-select class="select3 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="1">1</nb-option>    
            <nb-option value="2">2</nb-option>    
            <nb-option value="3">3</nb-option>
        </nb-select>
      </div>
      <div class="space space72212121">
        <button nbButton class="button3 size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Search</span>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>