<nb-card class="card1511121">
  <nb-card-body>
    <div class="space space6411121">
      <div class="space space452">
        <h4 class="heading22 text-undefined text-alignment-left text-transform-none">Payment </h4>
        <div class="space space46">
          <h6 class="heading23 text-undefined text-alignment-left text-transform-none">TOTAL AMOUNT: $0</h6>
        </div>
        <div class="space space461">
          <span class="text128 text-undefined text-alignment-left text-transform-none caption-2">Card Number</span>
          <div class="space space48">
            <div class="space space491">
              <input nbInput class="input21 size-xl-medium" placeholder="1234 1234 1234 1234" type="text" shape="rectangle" status="basic">
            </div>
          </div>
          <div class="space space481">
            <div class="space space4921">
              <span class="text129 text-undefined text-alignment-left text-transform-none caption-2">Expiration date</span>
              <input nbInput class="input22 size-xl-medium" placeholder="MM/YY" type="text" shape="rectangle" status="basic">
            </div>
            <div class="space space49211">
              <span class="text400 text-undefined text-alignment-left text-transform-none caption-2">CVC/CVV</span>
              <input nbInput class="input35 size-xl-medium" placeholder="CVC/CVV" type="text" shape="rectangle" status="basic">
            </div>
          </div>
          <div class="space space482">
            <span class="text130 text-undefined text-alignment-left text-transform-none caption-2">Card Number</span>
            
            <nb-form-field class="input23">
              <nb-icon nbPrefix icon="pricetags"></nb-icon>
              <input nbInput class="size-xl-medium" class="input23 size-xl-medium" placeholder="Do you have a coupon?" type="text" shape="rectangle" status="basic">
            </nb-form-field>
            
          </div>
        </div>
        <div class="space space4611">
          <button nbButton class="button9 size-xl-medium" appearance="filled" status="control">
            <nb-icon class="icon btn-icon" icon="star"></nb-icon>
            <span>Cancel</span>
          </button>
          <button nbButton class="button10 size-xl-medium" appearance="filled" status="primary">
            <nb-icon class="icon btn-icon" icon="star"></nb-icon>
            <span>Pay</span>
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>