version: "3.5"
services:
  ################################  thule-people-service  ################################
  thule-people-service:
    image: pooh:8082/thule-people-service
    environment:
      EUREKA_CLIENT_ENABLED: "false"
      SPRING_CLOUD_CONFIG_ENABLED: "false"
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
      TZ: Europe/London
    extra_hosts:
      - logstash-host:172.17.0.1
      - zipkin-host:172.17.0.1
    hostname: people-service-1
    ports:
      - 8090:8090
    volumes:
      # Set localtime on container to be the same as the host
      - /etc/localtime:/etc/localtime:ro