:host {
  
  .image9 {
    margin: 0;
    width: auto;
    height: 70px;
    border-radius: 0;
    object-fit: fill;
  }
    
  .space311221111 {
    height: auto;
    min-height: 2rem;
    width: 41.666666666666664%;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: visible;
    background-color: unset;
    background-image: url('https://images.unsplash.com/photo-1575283267525-b12f4bdc12bf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1913&q=80');
    background-size: cover;
  }
    
  .heading26 {
    margin: 0 0 16px 0;
    color: var(--text-basic-color);
  }
    
  .text142 {
    margin: 0 0 16px 0;
    color: var(--text-basic-color);
  }
    
  .space91111111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 16px 0 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .text140 {
    margin: 0 0 4px 0;
    color: var(--text-basic-color);
  }
    
  .input29 {
    margin: 0 0 20px 0;
    width: 100%;
  }
    
  .button17 {
    margin: 0 16px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .text141 {
    margin: 0 8px 0 0;
    color: var(--text-basic-color);
  }
    
  .link1 {
    margin: 0;
    color: var(--text-primary-color);
    
    &:hover {
      color: var(--text-primary-hover-color);
    }
    
    &:focus {
      color: var(--text-primary-focus-color);
    }
  }
    
  .space411221111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 16px 0 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space511221111 {
    height: auto;
    min-height: 2rem;
    width: 60%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space211211111 {
    height: auto;
    min-height: 2rem;
    width: 58.333333333333336%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 8px 0 0 0;
    overflow-x: visible;
    overflow-y: auto;
  }
    
  .space61221111 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  @media (max-width: 1024px) {
    .text142 {
      margin: 0 0 16px 0;
    }
    
    .space91111111 {
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      padding: 0;
    }
    
    .button17 {
      width: auto;
    }
    
    .text141 {
      margin: 0 8px 0 0;
    }
    
    .link1 {
      margin: 0;
    }
    
    .space411221111 {
      height: 56px;
      width: 100%;
    }
    
    .space511221111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 40px;
    }
  }
    
  @media (max-width: 768px) {
    .space311221111 {
      display: none;
    }
    
    .text141 {
      margin: 0 8px 0 0;
    }
    
    .space411221111 {
      align-items: flex-start;
      align-content: flex-start;
    }
    
    .space511221111 {
      height: auto;
      min-height: 2rem;
      width: 66.66666666666667%;
      padding: 0 30px;
    }
    
    .space211211111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
    
  @media (max-width: 480px) {
    .image9 {
      width: auto;
      height: 50px;
    }
    
    .space311221111 {
      height: auto;
      min-height: 2rem;
      width: 25%;
    }
    
    .button17 {
      margin: 0;
    }
    
    .text141 {
      margin: 0 8px 0 0;
    }
    
    .link1 {
      margin: 0;
    }
    
    .space411221111 {
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
    }
    
    .space511221111 {
      height: auto;
      min-height: 2rem;
      width: 91.66666666666667%;
      padding: 0 20px;
    }
    
    .space211211111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
    
  @media (max-width: 320px) {
    .space311221111 {
      display: none;
    }
    
    .text141 {
      margin: 0 8px 0 0;
    }
    
    .space511221111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space211211111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
  
}