<nb-card class="card1112">
  <nb-card-body>
    <div class="space space3112">
      <div class="space space213">
        <nb-icon class="icon7 giant" nbTooltip="" icon="file-text"></nb-icon>
      </div>
      <div class="space space21112">
        <h4 class="heading2 text-undefined text-alignment-left text-transform-none">3000</h4>
        <span class="text146 text-undefined text-alignment-left text-transform-none subtitle-2">Documents</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>