# Spring logging configuration
logging:
  level:
    org.springframework: info
    uk.co.serin: trace

# Eureka configuration
eureka:
  client:
    enabled: false

# Spring boot configuration
spring:
  flyway:
    baseline-on-migrate: true

# Thule configuration
thule:
  peopleservice:
    mysql:
      host: mysql-host

######################################### NESTED CONTAINER TEST PROFILES #######################################
---
spring:
  profiles: ctest-client
# Spring boot configuration
  flyway:
    enabled: false
  jpa:
    database: mysql

# Thule configuration
thule:
  peopleservice:
    api:
      host: 172.17.0.1 # Docker bridge IP address
      port: 8090
    mysql:
      host: 172.17.0.1 # Docker bridge IP address
      port: 3307
