# Eureka configuration
eureka:
  client:
    serviceUrl:
      # Location of peer discovery services to keep the registry in sync across all discovery services, in this case we only have a single node so it refers to itself
      defaultZone: http://${thule.discoveryservice.host:localhost}:${thule.discoveryservice.port:8080}/eureka/
  instance:
    # Hostname will be the docker container hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    prefer-ip-address: true

# Spring actuator configuration
info:
  description: Thule Admin Server
  name: ${spring.application.name}

# Spring logging
logging:
  level:
    org.springframework: info
    uk.co.serin: trace

# Spring boot configuration
spring:
  jackson:
    serialization:
      # Admin server displays the buildTime of this service which by default will be as an
      # absolute time (i.e. a long), not particularly meaningful unless we instruct jackson to
      # serialize it as a timestamp which is a human readable form
      write_dates_as_timestamps: false
  sleuth:
    sampler:
      probability: 1.0

# Zuul configuration
zuul:
  # Defaults to Cookie,Set-Cookie,Authorization but means the basic authentication header will not Propagate to the people service,
  # hence Authorization has been removed from the sensitive headers
  sensitiveHeaders: Cookie,Set-Cookie

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: localhost