# Spring actuator configuration
info:
  description: Thule Admin Service
  name: ${spring.application.name}

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
    base-path: /sba/actuator
  endpoint:
    health:
      show-details: ALWAYS

# Server configuration
server:
  forward-headers-strategy: framework

# Spring boot configuration
spring:
  application:
    name: thule-admin-service
  boot:
    admin:
      context-path: /sba
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh:9411
    sender:
      type: web

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh