# Spring server configuration
server:
  port: 8093

# Spring boot configuration
spring:
  cloud:
    kubernetes:
      discovery:
        enabled: false
  zipkin:
    enabled: false

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: false
