logging:
  level:
    root: debug
    org.springframework: debug

# Spring actuator configuration
info:
  description: Thule Admin Service
  name: ${spring.application.name}

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

# Server configuration
server:
  forward-headers-strategy: native

# Spring boot configuration
spring:
  application:
    name: thule-admin-service
  boot:
    admin:
      ui:
        public-url: /thule-admin-service
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh:9411
    sender:
      type: web

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh