version: "2"
services:
  ################################  thule-discovery-service  ################################
  thule-discovery-service:
    image: pooh.serin-consultancy.co.uk/thule-discovery-service
    environment:
      SPRING_CLOUD_CONFIG_ENABLED: "false"
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
    extra_hosts:
      - logstash-host:172.17.0.1
      - zipkin-host:172.17.0.1
    hostname: discovery-service-1
    ports:
      - "8761:8761"
    volumes:
      # Set localtime and timezone on container to be the same as the host
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro