---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thule-authentication-service-pod-reader
  namespace: thule
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thule-authentication-service-role-binding
  namespace: thule
roleRef:
  kind: ClusterRole
  name: thule-authentication-service-pod-reader
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: thule-authentication-service-account
    namespace: thule
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: thule-authentication-service
  namespace: thule
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thule-authentication-service
      namespace: thule
  template:
    metadata:
      labels:
        app: thule-authentication-service
        namespace: thule
    spec:
      serviceAccountName: thule-authentication-service-account
      containers:
        - name: thule-authentication-service
          image: jboss/keycloak
          imagePullPolicy: Always
          env:
            - name: DB_VENDOR
              value: mysql
            - name: DB_ADDR
              value: localhost
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: thule-application-secrets
                  key: thule-authenticationservice-datasource-app-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: thule-application-secrets
                  key: thule-authenticationservice-datasource-app-password
            - name: JDBC_PARAMS
              value: useSSL=false
            - name: JDK_JAVA_OPTIONS
              value: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
            - name: KEYCLOAK_FRONTEND_URL
              value: http://piglet/thule-authentication-service/auth
            - name: KEYCLOAK_USER
              valueFrom:
                secretKeyRef:
                  name: thule-application-secrets
                  key: thule-authenticationservice-keycloak-admin-username
            - name: KEYCLOAK_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: thule-application-secrets
                  key: thule-authenticationservice-keycloak-admin-password
            - name: TZ
              value: Europe/London
            - name: ROLLOUT_TIME
              value:
          livenessProbe:
            httpGet:
              path: /auth
              port: service-port
            initialDelaySeconds: 300
            periodSeconds: 30
            timeoutSeconds: 10
          ports:
            - containerPort: 8080
              name: service-port
          readinessProbe:
            httpGet:
              path: /auth
              port: service-port
            periodSeconds: 30
            timeoutSeconds: 10
        - name: mysql-authentication-service
          image: mysql:5.7
          env:
            - name: MYSQL_DATABASE
              value: keycloak
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: thule-application-secrets
                  key: thule-authenticationservice-datasource-app-username
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: thule-application-secrets
                  key: thule-authenticationservice-datasource-app-password
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: thule-application-secrets
                  key: thule-authenticationservice-datasource-owner-password
            - name: TZ
              value: Europe/London
          ports:
            - containerPort: 3306
      hostAliases:
        - ip: 192.168.0.102
          hostnames:
            - pooh
        - ip: 192.168.0.104
          hostnames:
            - piglet
---
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2beta1
metadata:
  name: thule-authentication-service-hpa
  namespace: thule
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: thule-authentication-service
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        targetAverageUtilization: 80
---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  annotations:
    kubernetes.io/ingress.allow-http: "false"
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/x-forwarded-prefix: "/thule-authentication-service"
  name: thule-authentication-service-ingress
  namespace: thule
spec:
  rules:
    - host: piglet
      http:
        paths:
          - path: /thule-authentication-service(/|$)(.*)
            backend:
              serviceName: thule-authentication-service
              servicePort: 80
  tls:
    - hosts:
        - piglet
      secretName: thule-application-secrets
---
kind: Service
apiVersion: v1
metadata:
  name: thule-authentication-service
  namespace: thule
  annotations:
    # Spring Boot Admin metadata
    health.path: /
    management.context-path: /realms/master/.well-known/openid-configuration/
    service-path: /auth/
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: thule-authentication-service
    namespace: thule
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: thule-authentication-service-account
  namespace: thule
