<table class="table12111">
  <thead>
    <th class="column1">
      <div class="space space182111">
        <span class="text125 text-undefined text-alignment-left text-transform-none subtitle">Student</span>
      </div>
    </th>
    <th class="column2">
      <div class="space space192111">
        <span class="space2681111 text-undefined text-alignment-left text-transform-none subtitle">1, Wed</span>
      </div>
    </th>
    <th class="column3">
      <div class="space space265111">
        <span class="space268111 text-undefined text-alignment-left text-transform-none subtitle">3, Fri</span>
      </div>
    </th>
    <th class="column4">
      <div class="space space275111">
        <span class="space26811111 text-undefined text-alignment-left text-transform-none subtitle">8, Wed</span>
      </div>
    </th>
    <th class="column5">
      <div class="space space281111">
        <span class="space2681112 text-undefined text-alignment-left text-transform-none subtitle">10, Fri</span>
      </div>
    </th>
    <th class="column6">
      <div class="space space291111">
        <span class="space268111111 text-undefined text-alignment-left text-transform-none subtitle">15, Wed</span>
      </div>
    </th>
    <th class="column7">
      <div class="space space1231">
        <span class="space26811121 text-undefined text-alignment-left text-transform-none subtitle">17, Fri</span>
      </div>
    </th>
    <th class="column8">
      <div class="space space3911">
        <span class="space268111112 text-undefined text-alignment-left text-transform-none subtitle">21, Wed</span>
      </div>
    </th>
    <th class="column9">
      <div class="space space4011">
        <span class="space26811122 text-undefined text-alignment-left text-transform-none subtitle">24, Fri</span>
      </div>
    </th>
    <th class="column10">
      <div class="space space4311">
        <span class="space268111113 text-undefined text-alignment-left text-transform-none subtitle">29, Wed</span>
      </div>
    </th>
    <th class="column11">
      <div class="space space4411">
        <span class="space26811123 text-undefined text-alignment-left text-transform-none subtitle">31, Fri</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space202111">
          <p class="text126 text-undefined text-alignment-left text-transform-none paragraph">Daniel Will</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space222111">
          <nb-icon class="icon65" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space266111">
          <nb-icon class="icon67" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space276111">
          <nb-icon class="icon78" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space282111">
          <nb-icon class="icon69" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space292111">
          <nb-icon class="icon81" nbTooltip="Was ill" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1241">
          <nb-icon class="icon71" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space3921">
          <nb-icon class="icon73" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space4021">
          <nb-icon class="icon74" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space4321">
          <nb-icon class="icon75" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space4421">
          <nb-icon class="icon83" nbTooltip="Competition participation" icon="close-outline"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space232111">
          <p class="text127 text-undefined text-alignment-left text-transform-none paragraph">Richi Hasan</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space242111">
          <nb-icon class="icon66" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space267111">
          <nb-icon class="icon68" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space277111">
          <nb-icon class="icon79" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space283111">
          <nb-icon class="icon80" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space293111">
          <nb-icon class="icon70" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1251">
          <nb-icon class="icon72" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space3931">
          <nb-icon class="icon82" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space4031">
          <nb-icon class="icon77" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space4331">
          <nb-icon class="icon76" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space4431">
          <nb-icon class="icon84" nbTooltip="Competition participation" icon="close-outline"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space57">
          <p class="text396 text-undefined text-alignment-left text-transform-none paragraph">Martin Hovsep</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space571">
          <nb-icon class="icon158" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space572">
          <nb-icon class="icon161" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space573">
          <nb-icon class="icon164" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space574">
          <nb-icon class="icon167" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space575">
          <nb-icon class="icon170" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space576">
          <nb-icon class="icon173" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space577">
          <nb-icon class="icon175" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space578">
          <nb-icon class="icon179" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space579">
          <nb-icon class="icon182" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space5710">
          <nb-icon class="icon185" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space58">
          <p class="text397 text-undefined text-alignment-left text-transform-none paragraph">Taylor Lopez</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space581">
          <nb-icon class="icon159" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space582">
          <nb-icon class="icon162" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space583">
          <nb-icon class="icon165" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space584">
          <nb-icon class="icon168" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space585">
          <nb-icon class="icon171" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space586">
          <nb-icon class="icon174" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space587">
          <nb-icon class="icon176" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space588">
          <nb-icon class="icon180" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space589">
          <nb-icon class="icon183" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space5810">
          <nb-icon class="icon186" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space59">
          <p class="text398 text-undefined text-alignment-left text-transform-none paragraph">Staff Wilson</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space591">
          <nb-icon class="icon160" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space592">
          <nb-icon class="icon163" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space593">
          <nb-icon class="icon166" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space594">
          <nb-icon class="icon169" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space595">
          <nb-icon class="icon172" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space596">
          <nb-icon class="icon178" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space597">
          <nb-icon class="icon177" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space598">
          <nb-icon class="icon181" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space599">
          <nb-icon class="icon184" nbTooltip="Competition participation" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space space5910">
          <nb-icon class="icon187" nbTooltip="" icon="checkmark"></nb-icon>
        </div>
      </td>
    </tr>  
  </tbody>
</table>