apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: thule-email-service
  namespace: default
  labels:
    app: thule-email-service
spec:
  selector:
    matchLabels:
      app: thule-email-service
  template:
    metadata:
      labels:
        app: thule-email-service
    spec:
      containers:
        - name: thule-email-service
          image: pooh:8082/thule-email-service:1.0.0-SNAPSHOT
          env:
            - name: JDK_JAVA_OPTIONS
              value: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
            - name: SPRING_PROFILES_ACTIVE
              value: cit
            - name: TZ
              value: Europe/London
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: service-port
            initialDelaySeconds: 300
            periodSeconds: 30
            timeoutSeconds: 10
          ports:
            - containerPort: 8080
              name: service-port
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: service-port
            periodSeconds: 30
            timeoutSeconds: 10
      hostAliases:
        - ip: 192.168.0.102
          hostnames:
            - pooh
      tolerations:
        - operator: Exists
---
apiVersion: v1
kind: Service
metadata:
  name: thule-email-service
  namespace: default
  labels:
    app: thule-email-service
spec:
  ports:
    - nodePort: 31095
      port: 8080
      targetPort: 8080
  selector:
    app: thule-email-service
  type: NodePort
