---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thule-admin-service-pod-reader
  namespace: thule
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thule-admin-service-role-binding
  namespace: thule
subjects:
  - kind: ServiceAccount
    name: thule-admin-service-account
    namespace: thule
roleRef:
  kind: ClusterRole
  name: thule-admin-service-pod-reader
  apiGroup: rbac.authorization.k8s.io
---
kind: Deployment
apiVersion: v1
metadata:
  name: thule-admin-service
  namespace: thule
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thule-admin-service
      namespace: thule
  template:
    metadata:
      labels:
        app: thule-admin-service
        namespace: thule
    spec:
      serviceAccountName: thule-admin-service-account
      containers:
        - name: thule-admin-service
          image: pooh:8082/thule-admin-service:1.0.0-SNAPSHOT
          imagePullPolicy: Always
          env:
            - name: JDK_JAVA_OPTIONS
              value: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
            - name: SPRING_PROFILES_ACTIVE
              value: cit
            - name: TZ
              value: Europe/London
            - name: ROLLOUT_TIME
              value:
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: service-port
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
          ports:
            - containerPort: 8080
              name: service-port
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: service-port
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
      hostAliases:
        - ip: 192.168.0.102
          hostnames:
            - pooh
---
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2beta1
metadata:
  name: thule-admin-service-hpa
  namespace: thule
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: thule-admin-service
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        targetAverageUtilization: 80
---
kind: Service
apiVersion: v1
metadata:
  name: thule-admin-service
  namespace: thule
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: thule-admin-service
    namespace: thule
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: thule-admin-service-account
  namespace: thule
