################################  thule-admin-server  ################################
thule-admin-server:
  image: pooh.serin-consultancy.co.uk/thule-admin-server
  environment:
    EUREKA_HOST: thule-discovery-service
    EUREKA_PORT: 8761
    SERVER_PORT: 8081
  extra_hosts:
    - docker-host:172.17.0.1
    - pooh:192.168.0.102
    - pooh.serin-consultancy.co.uk:192.168.0.102
  hostname: admin-server-1
  links:
    - thule-config-service
    - thule-discovery-service
  ports:
    - "8081:8081"
  restart: always
  volumes:
    # Set localtime and timezone on container to be the same as the host
    - /etc/localtime:/etc/localtime:ro
    - /etc/timezone:/etc/timezone:ro

################################  thule-config-service  ################################
thule-config-service:
  image: pooh.serin-consultancy.co.uk/thule-config-service
  environment:
    EUREKA_HOST: thule-discovery-service
    EUREKA_PORT: 8761
  extra_hosts:
    - docker-host:172.17.0.1
    - pooh:192.168.0.102
    - pooh.serin-consultancy.co.uk:192.168.0.102
  hostname: config-service-1
  links:
    - thule-discovery-service
  ports:
    - "8888:8888"
  restart: always
  volumes:
    # Set localtime and timezone on container to be the same as the host
    - /etc/localtime:/etc/localtime:ro
    - /etc/timezone:/etc/timezone:ro

################################  thule-discovery-service  ################################
thule-discovery-service:
  image: pooh.serin-consultancy.co.uk/thule-discovery-service
  extra_hosts:
    - docker-host:172.17.0.1
    - pooh:192.168.0.102
    - pooh.serin-consultancy.co.uk:192.168.0.102
  hostname: discovery-service-1
  ports:
    - "8761:8761"
  restart: always
  volumes:
    # Set localtime and timezone on container to be the same as the host
    - /etc/localtime:/etc/localtime:ro
    - /etc/timezone:/etc/timezone:ro

################################  thule-people-service  ################################
thule-people-service:
  image: pooh.serin-consultancy.co.uk/thule-people-service
  environment:
    EUREKA_HOST: thule-discovery-service
    EUREKA_PORT: 8761
    SERVER_PORT: 8080
  extra_hosts:
    - docker-host:172.17.0.1
    - pooh:192.168.0.102
    - pooh.serin-consultancy.co.uk:192.168.0.102
  hostname: people-service-1
  links:
    - thule-config-service
    - thule-discovery-service
  ports:
    - "8080:8080"
  restart: always
  volumes:
    # Set localtime and timezone on container to be the same as the host
    - /etc/localtime:/etc/localtime:ro
    - /etc/timezone:/etc/timezone:ro
