# Eureka configuration
eureka:
  client:
    fetch-registry: true
    serviceUrl:
      # Location of peer discovery services to keep the registry in sync across all discovery services, in this case we only have a single node so it refers to itself
      defaultZone: http://localhost:9761/eureka/
