<nb-card class="card13">
  <nb-card-header>
    <div class="space space52">
      <h6 class="heading35 text-undefined text-alignment-left text-transform-none">My Information</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space62">
      <div class="space space71">
        <div class="space space82">
          <div class="space space92">
            <img class="image18" src="./assets/images/default.svg" src="./assets/images/Avatar2.png">
          </div>
          <div class="space space911">
            <nb-icon class="icon811" nbTooltip="" icon="edit"></nb-icon>
            <span class="text1472 text-undefined text-alignment-left text-transform-none subtitle-2">Edit </span>
          </div>
          <div class="space space542">
            <nb-icon class="icon852" nbTooltip="" icon="printer-outline"></nb-icon>
            <span class="text1482 text-undefined text-alignment-left text-transform-none subtitle-2">Print</span>
          </div>
          <div class="space space552">
            <nb-icon class="icon862" nbTooltip="" icon="download"></nb-icon>
            <span class="text1492 text-undefined text-alignment-left text-transform-none subtitle-2">Download</span>
          </div>
          <div class="space space561">
            <nb-icon class="icon872" nbTooltip="" icon="share"></nb-icon>
            <span class="text1502 text-undefined text-alignment-left text-transform-none subtitle-2">Share</span>
          </div>
        </div>
        <div class="space space811">
          <h6 class="heading45 text-undefined text-alignment-left text-transform-none">Mr. Ajay</h6>
          <div class="space space1021211">
            <div class="space space122111711">
              <div class="space space38811">
                <p class="text311 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
              </div>
              <div class="space space381711">
                <p class="text3211 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
              </div>
            </div>
            <div class="space space1221111211">
              <div class="space space382211">
                <p class="text3311 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
              </div>
              <div class="space space3811211">
                <p class="text3411 text-undefined text-alignment-left text-transform-none paragraph">6</p>
              </div>
            </div>
            <div class="space space1221112211">
              <div class="space space383211">
                <p class="text3511 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
              </div>
              <div class="space space3812211">
                <p class="text3611 text-undefined text-alignment-left text-transform-none paragraph">A</p>
              </div>
            </div>
            <div class="space space1221113211">
              <div class="space space384211">
                <p class="text3711 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
              </div>
              <div class="space space3813211">
                <p class="text3811 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
              </div>
            </div>
            <div class="space space1221114211">
              <div class="space space385211">
                <p class="text3911 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
              </div>
              <div class="space space3814211">
                <p class="text408 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
              </div>
            </div>
            <div class="space space1221115811">
              <div class="space space386811">
                <p class="text412 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
              </div>
              <div class="space space3815811">
                <p class="text422 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
            </div>
            <div class="space space12211151211">
              <div class="space space3861211">
                <p class="text432 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
              </div>
              <div class="space space38151211">
                <p class="text442 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
              <div class="space space12211152211">
                <div class="space space3862211">
                  <p class="text472 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
                </div>
                <div class="space space38152211">
                  <p class="text482 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
                </div>
                <div class="space space12211153211">
                  <div class="space space3863211">
                    <p class="text492 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                  </div>
                  <div class="space space38153211">
                    <p class="text502 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                  </div>
                  <div class="space space12211154211">
                    <div class="space space3864211">
                      <p class="text512 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                    </div>
                    <div class="space space38154211">
                      <p class="text522 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                    </div>
                    <div class="space space12211155211">
                      <div class="space space3865211">
                        <p class="text532 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                      </div>
                      <div class="space space38155211">
                        <p class="text542 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                      </div>
                      <div class="space space12211156311">
                        <div class="space space3866311">
                          <p class="text552 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                        </div>
                        <div class="space space38156311">
                          <p class="text562 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space space122111561211">
              <div class="space space38661211">
                <p class="text452 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
              </div>
              <div class="space space381561211">
                <p class="text462 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
