# Eureka configuration
eureka:
  client:
    serviceUrl:
      # Location of peer discovery services to keep the registry in sync across all discovery services, in this case we only have a single node so it refers to itself
      defaultZone: http://${thule.discoveryservice.host:localhost}:${thule.discoveryservice.port:8080}/eureka/
  instance:
    # Hostname will be the docker container hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    prefer-ip-address: true

# Spring actuator configuration
info:
  description: Thule Edge Server
  name: ${spring.application.name}

# Spring logging
logging:
  level:
    org.springframework: info
    uk.co.serin: trace

# Spring boot configuration
spring:
  application:
    name: thule-edge-server
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    baseUrl: http://172.17.0.1:9411 # Docker bridge IP address

# Zuul configuration
zuul:
  # Defaults to Cookie,Set-Cookie,Authorization but means the basic authentication header will not Propagate to the people service,
  # hence Authorization has been removed from the sensitive headers
  sensitiveHeaders: Cookie,Set-Cookie

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: 172.17.0.1 # Docker bridge IP address