# Eureka configuration
eureka:
  instance:
    # Hostname will be the docker generated hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    preferIpAddress: true
  client:
    serviceUrl:
      # Location of the discovery service to register this service
      defaultZone: http://${eureka.host:localhost}:${eureka.port:8761}/eureka/

# Spring actuator configuration
endpoints:
  sensitive: false
info:
  description: Thule Edge Server
  name: ${spring.application.name}
management:
  security:
    # Disabled to enable health endpoint to show complete health rather than just 'status'
    enabled: false

# Spring logging
logging:
  level:
    org.springframework: info
    uk.co.serin: trace

# Spring server configuration
server:
  port: 8080

# Spring boot configuration
spring:
  sleuth:
      sampler:
        percentage: 1.0
  zipkin:
    baseUrl: http://zipkin-host:9411

# Zuul configuration
zuul:
  # Defaults to Cookie,Set-Cookie,Authorization but means the basic authentication header will not propogate to the people service,
  # hence Authorization has been removed from the sensitive headers
  sensitiveHeaders: Cookie,Set-Cookie

# Thule configuration
thule:
  logging:
    logstash:
      host: logstash-host
      port: 5400