# Spring logging
logging:
  level:
    org.springframework: info
    uk.co.serin.thule: trace

# Spring boot configuration
spring:
  cloud:
    kubernetes:
      discovery:
        enabled: false
  zipkin:
    enabled: false

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: false
