<table class="table12">
  <thead>
    <th class="column1">
      <div class="space space182">
        <span class="text57 text-undefined text-alignment-left text-transform-none subtitle">Hostel</span>
      </div>
    </th>
    <th class="column2">
      <div class="space space192">
        <span class="text58 text-undefined text-alignment-left text-transform-none subtitle">Room No</span>
      </div>
    </th>
    <th class="column3">
      <div class="space space265">
        <span class="space268 text-undefined text-alignment-left text-transform-none subtitle">Room Type</span>
      </div>
    </th>
    <th class="column4">
      <div class="space space275">
        <span class="space278 text-undefined text-alignment-left text-transform-none subtitle">No Of Bed</span>
      </div>
    </th>
    <th class="column5">
      <div class="space space2811">
        <span class="space284 text-undefined text-alignment-left text-transform-none subtitle">Cost Per Bed</span>
      </div>
    </th>
    <th class="column6">
      <div class="space space2911">
        <span class="space294 text-undefined text-alignment-left text-transform-none subtitle">Action</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space202">
          <nb-checkbox class="checkbox" status="success">Boys-104</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space space222">
          <p class="text59 text-undefined text-alignment-left text-transform-none paragraph">204</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space266">
          <p class="text61 text-undefined text-alignment-left text-transform-none paragraph">Big</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space276">
          <p class="text63 text-undefined text-alignment-left text-transform-none paragraph">3</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2821">
          <p class="text65 text-undefined text-alignment-left text-transform-none paragraph">$110</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2921">
          <nb-icon class="icon33" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="icon34" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="icon35" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space232">
          <nb-checkbox class="checkbox1" status="success">Boys-104</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space space242">
          <p class="text60 text-undefined text-alignment-left text-transform-none paragraph">205</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space267">
          <p class="text62 text-undefined text-alignment-left text-transform-none paragraph">Medium</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space277">
          <p class="text64 text-undefined text-alignment-left text-transform-none paragraph">2</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2831">
          <p class="text66 text-undefined text-alignment-left text-transform-none paragraph">$100</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2931">
          <nb-icon class="icon36" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="icon37" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="icon38" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>  
  </tbody>
</table>