:host {

  width: 100%;
  height: auto;
  display: block;
  
  .text72 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space1821 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text73 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space1921 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .checkbox2 {
    margin: 0;
  }
    
  .space2021 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .image5 {
    width: auto;
    height: 48px;
    border-radius: 0;
    object-fit: fill;
  }
    
  .space2221 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .checkbox3 {
    margin: 0;
  }
    
  .space2321 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .image6 {
    width: auto;
    height: 48px;
    border-radius: 0;
    object-fit: fill;
  }
    
  .space2421 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space2651 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text74 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2661 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text75 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2671 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .space2751 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text76 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2761 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text77 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2771 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space28111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text78 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space28211 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text79 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space28311 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .space29111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text80 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space29211 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text81 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space29311 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space12 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text82 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space122 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text83 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space123 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space13 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text85 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space132 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text84 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space133 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .space39 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text86 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space392 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text87 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space393 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space40 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text89 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space402 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text88 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space403 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .space43 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text90 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space432 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text91 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space433 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .space44 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .icon42 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon43 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon44 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space441 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
  }
    
  .icon45 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon46 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon47 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space442 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
  }
    
  .checkbox17 {
    margin: 0;
  }
    
  .space25 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .image19 {
    width: auto;
    height: 48px;
    border-radius: 0;
    object-fit: fill;
  }
    
  .space252 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text318 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space253 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text319 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space254 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text320 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space255 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text321 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space256 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text322 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space257 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text323 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space258 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text324 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space259 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text325 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2510 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text326 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2512 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .icon122 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon123 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon124 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space2513 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
  }
    
  .checkbox18 {
    margin: 0;
  }
    
  .space33 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .image20 {
    width: auto;
    height: 48px;
    border-radius: 0;
    object-fit: fill;
  }
    
  .space333 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text327 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space334 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text328 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space335 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text329 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space336 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text330 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space337 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text331 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space338 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text332 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space339 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text333 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3310 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text334 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3312 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text335 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3313 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .icon125 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon126 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon127 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space3314 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
  }
    
  .checkbox19 {
    margin: 0;
  }
    
  .space34 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .image21 {
    width: auto;
    height: 48px;
    border-radius: 0;
    object-fit: fill;
  }
    
  .space343 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text336 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space344 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text337 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space345 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text338 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space346 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text339 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space347 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text340 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space348 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text341 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space349 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text342 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3410 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .text343 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3413 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .text344 {
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3414 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
  }
    
  .icon128 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon129 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon130 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space3415 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
  }
    
  .table121 {
  
    width: 100%;
    height: 100%;
    background-color: unset;
    
    .column1 {
      width: 90px;
    }  
    .column2 {
      width: 70px;
    }  
    .column3 {
      width: 130px;
    }  
    .column4 {
      width: 90px;
    }  
    .column5 {
      width: 130px;
    }  
    .column6 {
      width: 60px;
    }  
    .column7 {
      width: 70px;
    }  
    .column8 {
      width: 130px;
    }  
    .column9 {
      width: 110px;
    }  
    .column10 {
      width: 110px;
    }  
    .column11 {
      width: 180px;
    }  
    .column12 {
      width: 90px;
    }
  }  
  @media (max-width: 1024px) {
    width: 100%;
    height: auto;
    flex-grow: 0;
  }
    
  @media (max-width: 320px) {
    width: 100%;
    height: auto;
    flex-grow: 0;
  }
  
}