<nb-card class="card1123">
  <nb-card-body>
    <div class="space space3123">
      <div class="space space304">
        <nb-icon class="icon25 giant" nbTooltip="" icon="checkmark"></nb-icon>
      </div>
      <div class="space space30131">
        
      </div>
      <div class="space space3013">
        <h4 class="heading10 text-undefined text-alignment-left text-transform-none">2</h4>
        <p class="text30 text-undefined text-alignment-left text-transform-none paragraph">Homeworks</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>