<nb-card class="card15111111">
  <nb-card-header>
    <div class="space space54111111">
      <h6 class="heading43 text-undefined text-alignment-left text-transform-none">Class information</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space64111111">
      <div class="space space72212211">
        <label class="text401 text-undefined text-alignment-left text-transform-none label">Subject</label>
        <nb-select class="select14 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="Mathematics">Mathematics</nb-option>    
            <nb-option value="Literature">Literature</nb-option>    
            <nb-option value="Physics">Physics</nb-option>
        </nb-select>
        <label class="text402 text-undefined text-alignment-left text-transform-none label">Class</label>
        <nb-select class="select15 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="1">1</nb-option>    
            <nb-option value="2">2</nb-option>    
            <nb-option value="3">3</nb-option>
        </nb-select>
        <label class="text403 text-undefined text-alignment-left text-transform-none label">Teacher </label>
        <nb-select class="select16 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="Aaron Jason">Aaron Jason</nb-option>    
            <nb-option value="Amily Watson">Amily Watson</nb-option>
        </nb-select>
      </div>
      <div class="space space7221211111">
        <label class="text404 text-undefined text-alignment-left text-transform-none label">Day</label>
        <nb-select class="select17 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="Monday">Monday</nb-option>    
            <nb-option value="Tuesday">Tuesday</nb-option>    
            <nb-option value="Wednesday">Wednesday</nb-option>    
            <nb-option value="Thursday">Thursday</nb-option>    
            <nb-option value="Friday">Friday</nb-option>
        </nb-select>
        <label class="text405 text-undefined text-alignment-left text-transform-none label">Time</label>
        <input nbInput class="input36 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
      </div>
      <div class="space space72212121121">
        <button nbButton class="button21 size-xl-medium" appearance="filled" status="success">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>save</span>
        </button>
        <button nbButton class="button22 size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>reset</span>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>