# Eureka configuration
eureka:
  client:
    enabled: false # Most environments (test) do no need a discovery service so it is disabled by default
    serviceUrl:
      # Location of peer discovery services to keep the registry in sync across all discovery services, in this case we only have a single node so it refers to itself
      defaultZone: http://${thule.discoveryservice.host:localhost}:${thule.discoveryservice.port:8080}/eureka/
  instance:
    # Hostname will be the docker container hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    prefer-ip-address: true

# Spring actuator configuration
info:
  description: Thule Configuration Service
  name: ${spring.application.name}

# Spring logging
logging:
  level:
    uk.co.serin.thule: trace
    org.springframework: info

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

# Spring boot configuration
spring:
  cloud:
    config:
      server:
        native:
          search-locations: ${thule.configurationservice.search-locations:/config}/{application}
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    sender:
      type: web

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
