version: "3.5"
services:
  ################################  thule-discovery-service  ################################
  thule-discovery-service:
    image: pooh:8084/thule-discovery-service
    environment:
      EUREKA_INSTANCE_LEASE_RENEWAL_INTERVAL_IN_SECONDS: 5 # By default eureka server can take a long time to start due to the default lease renewal of 30 seconds
      SPRING_CLOUD_CONFIG_ENABLED: "false" # Docker tests do not need a configuration service
      TZ: Europe/London
    ports:
    - 9761:8080
    restart: always # Spring context will fail to initialize if MySql is not ready because Flyway is dependent upon its availability
    volumes:
    # Since we are not using the configuration service to provide spring config, we add the config to the
    # docker containers file system in a standard spring boot location that spring boot uses to search for the config by default
    - thule-discovery-config:/config

volumes:
  thule-discovery-config:
    external: true