<nb-card class="card1">
  <nb-card-header>
    <div class="space space5">
      <h6 class="heading3 text-undefined text-alignment-left text-transform-none">My Information</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space6">
      <div class="space space7">
        <div class="space space8">
          <div class="space space9">
            <img class="image1" src="./assets/images/default.svg" src="./assets/images/Avatar1.png">
          </div>
          <div class="space space91">
            <nb-icon class="icon8" nbTooltip="" icon="edit"></nb-icon>
            <span class="text147 text-undefined text-alignment-left text-transform-none subtitle-2">Edit </span>
          </div>
          <div class="space space54">
            <nb-icon class="icon85" nbTooltip="" icon="printer-outline"></nb-icon>
            <span class="text148 text-undefined text-alignment-left text-transform-none subtitle-2">Print</span>
          </div>
          <div class="space space55">
            <nb-icon class="icon86" nbTooltip="" icon="download"></nb-icon>
            <span class="text149 text-undefined text-alignment-left text-transform-none subtitle-2">Download</span>
          </div>
          <div class="space space56">
            <nb-icon class="icon87" nbTooltip="" icon="share"></nb-icon>
            <span class="text150 text-undefined text-alignment-left text-transform-none subtitle-2">Share</span>
          </div>
        </div>
        <div class="space space81">
          <h6 class="heading4 text-undefined text-alignment-left text-transform-none">Mr. Ajay</h6>
          <div class="space space102121">
            <div class="space space12211171">
              <div class="space space3881">
                <p class="text31 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
              </div>
              <div class="space space38171">
                <p class="text32 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
              </div>
            </div>
            <div class="space space122111121">
              <div class="space space38221">
                <p class="text33 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
              </div>
              <div class="space space381121">
                <p class="text34 text-undefined text-alignment-left text-transform-none paragraph">6</p>
              </div>
            </div>
            <div class="space space122111221">
              <div class="space space38321">
                <p class="text35 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
              </div>
              <div class="space space381221">
                <p class="text36 text-undefined text-alignment-left text-transform-none paragraph">A</p>
              </div>
            </div>
            <div class="space space122111321">
              <div class="space space38421">
                <p class="text37 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
              </div>
              <div class="space space381321">
                <p class="text38 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
              </div>
            </div>
            <div class="space space122111421">
              <div class="space space38521">
                <p class="text39 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
              </div>
              <div class="space space381421">
                <p class="text40 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
              </div>
            </div>
            <div class="space space122111581">
              <div class="space space38681">
                <p class="text41 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
              </div>
              <div class="space space381581">
                <p class="text42 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
            </div>
            <div class="space space1221115121">
              <div class="space space386121">
                <p class="text43 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
              </div>
              <div class="space space3815121">
                <p class="text44 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
              <div class="space space1221115221">
                <div class="space space386221">
                  <p class="text47 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
                </div>
                <div class="space space3815221">
                  <p class="text48 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
                </div>
                <div class="space space1221115321">
                  <div class="space space386321">
                    <p class="text49 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                  </div>
                  <div class="space space3815321">
                    <p class="text50 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                  </div>
                  <div class="space space1221115421">
                    <div class="space space386421">
                      <p class="text51 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                    </div>
                    <div class="space space3815421">
                      <p class="text52 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                    </div>
                    <div class="space space1221115521">
                      <div class="space space386521">
                        <p class="text53 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                      </div>
                      <div class="space space3815521">
                        <p class="text54 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                      </div>
                      <div class="space space1221115631">
                        <div class="space space386631">
                          <p class="text55 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                        </div>
                        <div class="space space3815631">
                          <p class="text56 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space space12211156121">
              <div class="space space3866121">
                <p class="text45 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
              </div>
              <div class="space space38156121">
                <p class="text46 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
