<nb-card class="card131">
  <nb-card-header>
    <div class="space space521">
      <h6 class="heading351 text-undefined text-alignment-left text-transform-none">My Information</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space621">
      <div class="space space711">
        <div class="space space821">
          <div class="space space921">
            <img class="image181" src="~/../assets/images/default.svg" src="~/../assets/images/Avatar3.png">
          </div>
          <div class="space space9111">
            <nb-icon class="icon8111" nbTooltip="" icon="edit"></nb-icon>
            <span class="text14721 text-undefined text-alignment-left text-transform-none subtitle-2">Edit </span>
          </div>
          <div class="space space5422">
            <nb-icon class="icon8521" nbTooltip="" icon="printer-outline"></nb-icon>
            <span class="text14821 text-undefined text-alignment-left text-transform-none subtitle-2">Print</span>
          </div>
          <div class="space space5521">
            <nb-icon class="icon8621" nbTooltip="" icon="download"></nb-icon>
            <span class="text14921 text-undefined text-alignment-left text-transform-none subtitle-2">Download</span>
          </div>
          <div class="space space5611">
            <nb-icon class="icon8721" nbTooltip="" icon="share"></nb-icon>
            <span class="text15021 text-undefined text-alignment-left text-transform-none subtitle-2">Share</span>
          </div>
        </div>
        <div class="space space8111">
          <h6 class="heading451 text-undefined text-alignment-left text-transform-none">Mr. Ajay</h6>
          <div class="space space10212111">
            <div class="space space1221117111">
              <div class="space space388111">
                <p class="text3111 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
              </div>
              <div class="space space3817111">
                <p class="text32111 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
              </div>
            </div>
            <div class="space space12211112111">
              <div class="space space3822111">
                <p class="text33111 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
              </div>
              <div class="space space38112111">
                <p class="text34111 text-undefined text-alignment-left text-transform-none paragraph">6</p>
              </div>
            </div>
            <div class="space space12211122111">
              <div class="space space3832111">
                <p class="text35111 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
              </div>
              <div class="space space38122111">
                <p class="text36111 text-undefined text-alignment-left text-transform-none paragraph">A</p>
              </div>
            </div>
            <div class="space space12211132111">
              <div class="space space3842111">
                <p class="text37111 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
              </div>
              <div class="space space38132111">
                <p class="text38111 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
              </div>
            </div>
            <div class="space space12211142111">
              <div class="space space3852111">
                <p class="text39111 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
              </div>
              <div class="space space38142111">
                <p class="text4081 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
              </div>
            </div>
            <div class="space space12211158111">
              <div class="space space3868111">
                <p class="text4121 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
              </div>
              <div class="space space38158111">
                <p class="text4221 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
            </div>
            <div class="space space122111512111">
              <div class="space space38612111">
                <p class="text4321 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
              </div>
              <div class="space space381512111">
                <p class="text4421 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
              <div class="space space122111522111">
                <div class="space space38622111">
                  <p class="text4721 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
                </div>
                <div class="space space381522111">
                  <p class="text4821 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
                </div>
                <div class="space space122111532111">
                  <div class="space space38632111">
                    <p class="text4921 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                  </div>
                  <div class="space space381532111">
                    <p class="text5021 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                  </div>
                  <div class="space space122111542111">
                    <div class="space space38642111">
                      <p class="text5121 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                    </div>
                    <div class="space space381542111">
                      <p class="text5221 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                    </div>
                    <div class="space space122111552111">
                      <div class="space space38652111">
                        <p class="text5321 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                      </div>
                      <div class="space space381552111">
                        <p class="text5421 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                      </div>
                      <div class="space space122111563111">
                        <div class="space space38663111">
                          <p class="text5521 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                        </div>
                        <div class="space space381563111">
                          <p class="text5621 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space space1221115612111">
              <div class="space space386612111">
                <p class="text4521 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
              </div>
              <div class="space space3815612111">
                <p class="text4621 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
