<nb-card class="card1122">
  <nb-card-body>
    <div class="space space3122">
      <div class="space space303">
        <nb-icon class="icon24 giant" nbTooltip="" icon="bell"></nb-icon>
      </div>
      <div class="space space30121">
        
      </div>
      <div class="space space3012">
        <h4 class="heading9 text-undefined text-alignment-left text-transform-none">6</h4>
        <p class="text29 text-undefined text-alignment-center text-transform-none paragraph">Missed classes</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>