# Eureka configuration
eureka:
  client:
    enabled: false

# Spring boot configuration
spring:
  mail:
    host: localhost
    port: 1025

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: false
