# Eureka configuration
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:${server.port:8080}/eureka/
  instance:
    # Hostname will be the docker container hostname by default which will not be accessible outside of the host itself, so use ipaddress instead
    prefer-ip-address: true

# Spring actuator configuration
info:
  description: Thule Discovery Service
  name: ${spring.application.name}

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

# Server configuration
server:
  # Required so that links in webapp have correct path to js/html resources when using x-forwarded headers via k8s
  forward-headers-strategy: framework

# Spring boot configuration
spring:
  application:
    name: thule-discovery-service
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh.serin-consultancy.co.uk:9411
    sender:
      type: web

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh.serin-consultancy.co.uk