# Eureka configuration
eureka:
  # All eureka config parameters (eureka.client.fetch-registry, eureka.client.register-with-eureka,
  # eureka.client.serviceUrl.defaultZone and  eureka.instance.hostname) are to set up eureka to operate in 'standalone' mode
  # (see https://cloud.spring.io/spring-cloud-netflix/multi/multi_spring-cloud-eureka-server.html)
  client:
    fetch-registry: false
    register-with-eureka: false
    serviceUrl:
      defaultZone: http://localhost:${server.port}/eureka/
  instance:
    hostname: localhost

# Spring actuator configuration
info:
  description: Thule Discovery Service
  name: ${spring.application.name}

# Spring logging
logging:
  level:
    org.springframework: info
    uk.co.serin: trace

# Spring server configuration
server:
  port: 8080

# Spring boot configuration
spring:
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    baseUrl: http://172.17.0.1:9411 # Docker bridge IP address

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        host: 172.17.0.1 # Docker bridge IP address
        port: 5400