<div class="space space1611">
  <div class="space space3212121">
    <app-card1411></app-card1411>
    <div class="space space332">
      <div class="space space341">
        
      </div>
      <div class="space space812111">
        <h6 class="heading37 text-undefined text-alignment-left text-transform-none">Mrs. Alesya</h6>
        <div class="space space1021212111">
          <div class="space space122111712111">
            <div class="space space38812111">
              <p class="text236 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
            </div>
            <div class="space space381712111">
              <p class="text237 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
            </div>
          </div>
          <div class="space space1221111212111">
            <div class="space space382212111">
              <p class="text238 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
            </div>
            <div class="space space3811212111">
              <p class="text239 text-undefined text-alignment-left text-transform-none paragraph">6</p>
            </div>
          </div>
          <div class="space space1221112212111">
            <div class="space space383212111">
              <p class="text240 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
            </div>
            <div class="space space3812212111">
              <p class="text241 text-undefined text-alignment-left text-transform-none paragraph">A</p>
            </div>
          </div>
          <div class="space space1221113212111">
            <div class="space space384212111">
              <p class="text242 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
            </div>
            <div class="space space3813212111">
              <p class="text243 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
            </div>
          </div>
          <div class="space space1221114212111">
            <div class="space space385212111">
              <p class="text244 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
            </div>
            <div class="space space3814212111">
              <p class="text245 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
            </div>
          </div>
          <div class="space space1221115812111">
            <div class="space space386812111">
              <p class="text246 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
            </div>
            <div class="space space3815812111">
              <p class="text247 text-undefined text-alignment-left text-transform-none paragraph">---</p>
            </div>
          </div>
          <div class="space space12211151212111">
            <div class="space space3861212111">
              <p class="text248 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
            </div>
            <div class="space space38151212111">
              <p class="text249 text-undefined text-alignment-left text-transform-none paragraph">---</p>
            </div>
            <div class="space space12211152212111">
              <div class="space space3862212111">
                <p class="text252 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
              </div>
              <div class="space space38152212111">
                <p class="text253 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
              </div>
              <div class="space space12211153212111">
                <div class="space space3863212111">
                  <p class="text254 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                </div>
                <div class="space space38153212111">
                  <p class="text255 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                </div>
                <div class="space space12211154212111">
                  <div class="space space3864212111">
                    <p class="text256 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                  </div>
                  <div class="space space38154212111">
                    <p class="text257 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                  </div>
                  <div class="space space12211155212111">
                    <div class="space space3865212111">
                      <p class="text258 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                    </div>
                    <div class="space space38155212111">
                      <p class="text259 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                    </div>
                    <div class="space space12211156312111">
                      <div class="space space3866312111">
                        <p class="text260 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                      </div>
                      <div class="space space38156312111">
                        <p class="text261 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space space122111561212111">
            <div class="space space38661212111">
              <p class="text250 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
            </div>
            <div class="space space381561212111">
              <p class="text251 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space space3311">
    <div class="space space410">
      <app-card15></app-card15>
    </div>
  </div>
</div>