version: "3.5"
services:
  ################################  thule-admin-server  ################################
  thule-admin-server:
    image: pooh:8082/thule-admin-server:1.0.0-SNAPSHOT
    environment:
      THULE_CONFIGSERVICE_HOST: thule-config-service
      THULE_CONFIGSERVICE_PORT: 8080
      THULE_DISCOVERYSERVICE_HOST: thule-discovery-service
      THULE_DISCOVERYSERVICE_PORT: 8080
      TZ: Europe/London
    ports:
      - 9092:8080
    restart: always

  ################################  thule-config-service  ################################
  thule-config-service:
    image: pooh:8082/thule-config-service:1.0.0-SNAPSHOT
    environment:
      THULE_DISCOVERYSERVICE_HOST: thule-discovery-service
      THULE_DISCOVERYSERVICE_PORT: 8080
      TZ: Europe/London
    ports:
      - 9888:8080
    restart: always

  ################################  thule-discovery-service  ################################
  thule-discovery-service:
    image: pooh:8082/thule-discovery-service:1.0.0-SNAPSHOT
    environment:
      THULE_CONFIGSERVICE_HOST: thule-config-service
      THULE_CONFIGSERVICE_PORT: 8080
      TZ: Europe/London
    ports:
      - 9761:8080
    restart: always

  ################################  thule-edge-server  ################################
  thule-edge-server:
    image: pooh:8082/thule-edge-server:1.0.0-SNAPSHOT
    environment:
      THULE_CONFIGSERVICE_HOST: thule-config-service
      THULE_CONFIGSERVICE_PORT: 8080
      THULE_DISCOVERYSERVICE_HOST: thule-discovery-service
      THULE_DISCOVERYSERVICE_PORT: 8080
      TZ: Europe/London
    ports:
      - 9091:8080
    restart: always

  ################################  thule-email-server  ################################
  thule-email-service:
    image: pooh:8082/thule-email-service:1.0.0-SNAPSHOT
    environment:
      THULE_CONFIGSERVICE_HOST: thule-config-service
      THULE_CONFIGSERVICE_PORT: 8080
      THULE_DISCOVERYSERVICE_HOST: thule-discovery-service
      THULE_DISCOVERYSERVICE_PORT: 8080
      TZ: Europe/London
    ports:
      - 9094:8080
    restart: always

  ################################  thule-people-service  ################################
  thule-people-service:
    image: pooh:8082/thule-people-service:1.0.0-SNAPSHOT
    environment:
      SPRING_FLYWAY_BASELINE-ON-MIGRATE: "true" # Allow for case where the schema exists but Flyway did not create it
      THULE_CONFIGSERVICE_HOST: thule-config-service
      THULE_CONFIGSERVICE_PORT: 8080
      THULE_DISCOVERYSERVICE_HOST: thule-discovery-service
      THULE_DISCOVERYSERVICE_PORT: 8080
      TZ: Europe/London
    ports:
      - 9093:8080
    restart: always

  ################################  Servers and Databases Required By Container Tests  ################################
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      TZ: Europe/London
    ports:
      - 3308:3306 # Use 3306 for dev, 3307 for itest and 3308 for ctest so they can all execute simultaneously if required
    restart: always