<nb-card class="card141">
  <nb-card-header>
    <div class="space space531">
      <h5 class="heading11 text-undefined text-alignment-left text-transform-none">Student Details</h5>
      <div class="space space17112">
        <nb-icon class="icon26" nbTooltip="Download" icon="download"></nb-icon>
        <nb-icon class="icon27" nbTooltip="Settings" icon="settings-2-outline"></nb-icon>
        <nb-icon class="icon28" nbTooltip="Sync" icon="sync-outline"></nb-icon>
        <nb-icon class="icon29" nbTooltip="" icon="more-vertical"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space631">
      
    </div>
  </nb-card-body>
</nb-card>