# Eureka configuration
eureka:
  instance:
    # Hostname will be the docker generated hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    preferIpAddress: true
  client:
    serviceUrl:
      # Location of the discovery service to register this service
      defaultZone: http://${thule.discovery.service.host:localhost}:${thule.discovery.service.port:8761}/eureka/

# Spring actuator configuration
endpoints:
  sensitive: false
info:
  description: Thule People Service
  name: ${spring.application.name}
management:
  security:
    # Disabled to enable health endpoint to show complete health rather than just 'status'
    enabled: false

# Spring logging
logging:
  level:
    jdbc.audit: error
    jdbc.connection: error
    jdbc.resultset: error
    jdbc.sqlonly: error
    jdbc.sqltiming: error
    org.springframework: info
    uk.co.serin: trace

# Spring security configuration
security:
  user:
    name: admin
    password: admin
    role: USER

# Spring server configuration
server:
  port: 8090

# Spring boot configuration
spring:
  application:
    name: thule-people-service
  datasource:
    driver-class-name: net.sf.log4jdbc.DriverSpy
    url: jdbc:log4jdbc:h2:mem:testdb
  jackson:
    serialization:
      # Admin server displays the buildTime of this service which by default will be as an
      # absolute time (i.e. a long), not particularly meaningful unless we instruct jackson to
      # serialize it as a timestamp which is a human readable form
      write_dates_as_timestamps: false
  jpa:
    hibernate:
      ddl-auto: validate
  sleuth:
      sampler:
        percentage: 1.0
  zipkin:
    baseUrl: http://zipkin-host:9411

# Thule configuration
thule:
  logging:
    logstash:
      host: logstash-host
      port: 5400