<nb-card class="card22111">
  <nb-card-header>
    <div class="space space144111">
      <div class="space space173111">
        <h6 class="heading21 text-undefined text-alignment-left text-transform-none">All Teachers</h6>
      </div>
      <div class="space space1712111">
        <nb-icon class="icon64" nbTooltip="Print Attendance Sheet" icon="printer-outline"></nb-icon>
        <nb-icon class="icon61" nbTooltip="Download" icon="download"></nb-icon>
        <nb-icon class="icon62" nbTooltip="Settings" icon="settings-2-outline"></nb-icon>
        <nb-icon class="icon63" nbTooltip="Sync" icon="sync-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space152111">
      <app-table12111></app-table12111>
    </div>
  </nb-card-body>
</nb-card>