# Eureka configuration
eureka:
  instance:
    # Hostname will be the docker generated hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    preferIpAddress: true
  client:
    serviceUrl:
      # Location of the discovery service to register this service
      defaultZone: http://${eureka.host:localhost}:${eureka.port:8761}/eureka/

# Spring actuator configuration
endpoints:
  sensitive: false
info:
  description: Thule Email Service
  name: ${spring.application.name}
management:
  security:
    # Disabled to enable health endpoint to show complete health rather than just 'status'
    enabled: false

# Spring server configuration
server:
  port: 8091

# Spring boot configuration
spring:
  application:
    name: thule-email-service
  jackson:
    serialization:
      # Admin server displays the buildTime of this service which by default will be as an
      # absolute time (i.e. a long), not particularly meaningful unless we instruct jackson to
      # serialize it as a timestamp which is a human readable form
      write_dates_as_timestamps: false
  mail:
    host: smtp.gmail.com
    password: 1nsleyopie
    port: 587
    username: thule@serin-consultancy.co.uk
    properties:
      mail.debug: true
      mail.smtp.auth: true
      mail.smtp.ssl.trust: "*"
      mail.smtp.starttls.enable: true

# Thule configuration
thule:
  logging:
    logstash:
      host: logstash-host
      port: 5400