# Spring configuration
spring:
  data:
    mongodb:
      uri: mongodb://${thule.repositorymongodb.mongodb.host:localhost}:${thule.repositorymongodb.mongodb.port:27017}/test

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh