<nb-card class="card112">
  <nb-card-body>
    <div class="space space312">
      <div class="space space30">
        <nb-icon class="icon22 giant" nbTooltip="" icon="award"></nb-icon>
      </div>
      <div class="space space3014">
        
      </div>
      <div class="space space301">
        <h4 class="heading7 text-undefined text-alignment-left text-transform-none">98</h4>
        <p class="text27 text-undefined text-alignment-left text-transform-none paragraph">Total score</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>