<nb-card class="card151112">
  <nb-card-header>
    <div class="space space541112">
      <h6 class="heading20 text-undefined text-alignment-left text-transform-none">Attendance Sheet</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space641112">
      <div class="space space722123">
        <label class="text121 text-undefined text-alignment-left text-transform-none label">Class</label>
        <nb-select class="select13 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="1">1</nb-option>    
            <nb-option value="2">2</nb-option>
        </nb-select>
      </div>
      <div class="space space7221214">
        <label class="text122 text-undefined text-alignment-left text-transform-none label">Teacher</label>
        <nb-select class="select12 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="Aaron Smith">Aaron Smith</nb-option>    
            <nb-option value="Frederik Rose">Frederik Rose</nb-option>
        </nb-select>
      </div>
      <div class="space space72212112">
        <label class="text123 text-undefined text-alignment-left text-transform-none label">Month</label>
        <nb-select class="select10 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="Jan">Jan</nb-option>    
            <nb-option value="Feb">Feb</nb-option>    
            <nb-option value="Mar">Mar</nb-option>    
            <nb-option value="Apr">Apr</nb-option>    
            <nb-option value="May">May</nb-option>    
            <nb-option value="Jun">Jun</nb-option>    
            <nb-option value="Jul">Jul</nb-option>    
            <nb-option value="Aug">Aug</nb-option>    
            <nb-option value="Sep">Sep</nb-option>    
            <nb-option value="Okt">Okt</nb-option>    
            <nb-option value="Nov">Nov</nb-option>    
            <nb-option value="Dec">Dec</nb-option>
        </nb-select>
      </div>
      <div class="space space72212123">
        <label class="text124 text-undefined text-alignment-left text-transform-none label">Year</label>
        <nb-select class="select11 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="2020">2020</nb-option>    
            <nb-option value="2019">2019</nb-option>    
            <nb-option value="2018">2018</nb-option>
        </nb-select>
      </div>
      <div class="space space722121212">
        <button nbButton class="button8 size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Search</span>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>