<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- Log any errors with logback itself, for example, SSL or TCP communication errors with logstash -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="jdbc.audit" level="error"/>
    <logger name="jdbc.connection" level="error"/>
    <logger name="jdbc.resultset" level="error"/>
    <logger name="jdbc.sqlonly" level="trace"/>
    <logger name="jdbc.sqltiming" level="error"/>
    <logger name="uk.co.serin.thule" level="trace"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>