# Eureka configuration
eureka:
  client:
    enabled: false

# Spring logging
logging:
  level:
    jdbc.sqlonly: info
    uk.co.serin: trace

# Spring boot configuration
spring:
  flyway:
    schemas: thule

# Thule configuration
thule:
  peopleservice:
    mysql:
      host: localhost
      port: 3307 # Use 3306 for dev, 3307 for itest and 3308 for ctest so they can all execute simultaneously if required

######################################### NESTED INTEGRATION TEST PROFILES #######################################
---
spring:
  profiles: itest-h2
  # Spring boot configuration
  flyway:
    enabled: false

---
spring:
  profiles: itest-hsql
  # Spring boot configuration
  datasource:
    url: jdbc:log4jdbc:hsqldb:mem:testdb
  flyway:
    enabled: false

---
spring:
  profiles: itest-oracle
  # Spring boot configuration
  datasource:
    password: thule
    url: jdbc:log4jdbc:oracle:thin:@//localhost:1521/XEPDB1
    username: thule
  flyway:
    locations: classpath:oracle/db/migration
    password: oracle
    schemas: THULE # Flyway will force schema name to be whichever case is specified but needs to be upper case for oracle
    url: jdbc:oracle:thin:@//localhost:1521/XEPDB1
    user: system
