# Eureka configuration
eureka:
  client:
    enabled: false

# Spring logging
logging:
  level:
    jdbc.sqlonly: info
    uk.co.serin: trace

# Spring boot configuration
spring:
  flyway:
    schemas: thule
  zipkin:
    enabled: false

# Thule configuration
thule:
  peopleservice:
    mysql:
      host: localhost
      port: 3307 # Use 3306 for dev, 3307 for itest and 3308 for ctest so they can all execute simultaneously if required
  shared:
    logging:
      logstash:
        enabled: false