<nb-layout withScroll [class.header-hidden]="!(layout$ | async)?.header">

  <nb-layout-header *ngIf="(layout$ | async)?.header" class="header">
    <div class="space space1">
      <div class="space space111">
        <button nbButton class="button size-xl-medium" appearance="ghost" status="primary" (click)="toggleSidebar($event)">
          <nb-icon class="icon btn-icon" icon="menu"></nb-icon>
          <span></span>
        </button>
        <img class="image10" src="~/../assets/images/default.svg" [src]="src$ | async">
      </div>
      <div class="space space11">
        <nb-icon class="icon" nbTooltip="" icon="search"></nb-icon>
        <nb-icon class="icon1" nbTooltip="" icon="bell-outline"></nb-icon>
        <nb-icon class="icon2" nbTooltip="" icon="email-outline"></nb-icon>
        <img class="image" src="~/../assets/images/default.svg" src="~/../assets/images/Avatar.png">
        <p class="text text-undefined text-bold text-alignment-left text-transform-none paragraph">Ajay</p>
        <nb-icon class="icon3" nbTooltip="" icon="chevron-down-outline"></nb-icon>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar *ngIf="(layout$ | async)?.sidebar" class="sidebar" responsive="true" [collapsedBreakpoints]="['xs', 'is', 'sm']" [compactedBreakpoints]="[]">
    <div class="space sidebar-space">
      <nb-menu class="menu" [items]="items"></nb-menu>
    </div>
  </nb-sidebar>

  <nb-layout-column [style.padding]="padding$ | async">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
