<nb-card class="card1511">
  <nb-card-header>
    <div class="space space5411">
      <h6 class="heading13 text-undefined text-alignment-left text-transform-none">Add New Room</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space6411">
      <div class="space space7221">
        <label class="text67 text-undefined text-alignment-left text-transform-none label">Hotel Name</label>
        <input nbInput class="input4 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
        <label class="text68 text-undefined text-alignment-left text-transform-none label">Room Number</label>
        <input nbInput class="input5 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
        <label class="text69 text-undefined text-alignment-left text-transform-none label">Room Type</label>
        <nb-select class="select size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="Big">Big</nb-option>    
            <nb-option value="Medium">Medium</nb-option>    
            <nb-option value="Large">Large</nb-option>
        </nb-select>
        <label class="text70 text-undefined text-alignment-left text-transform-none label">Number of Beds</label>
        <nb-select class="select1 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="1">1</nb-option>    
            <nb-option value="2">2</nb-option>    
            <nb-option value="3">3</nb-option>
        </nb-select>
        <label class="text71 text-undefined text-alignment-left text-transform-none label">Cost per Bed</label>
        <input nbInput class="input6 size-xl-medium" placeholder="$300" type="text" shape="rectangle" status="basic">
      </div>
      <div class="space space72211">
        <button nbButton class="button1 size-xl-medium" appearance="filled" status="success">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>add</span>
        </button>
        <button nbButton class="button2 size-xl-medium" appearance="filled" status="info">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>reset</span>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>