version: "3.5"
services:
  ################################  thule-discovery-service  ################################
  thule-discovery-service:
    image: thule-discovery-service
    environment:
      SPRING_CLOUD_CONFIG_ENABLED: "false"
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
      TZ: Europe/London
    extra_hosts:
      - logstash-host:172.17.0.1
      - zipkin-host:172.17.0.1
    hostname: discovery-service-1
    ports:
      - 8761:8080
