version: "3.5"
services:
  ################################  thule-admin-server  ################################
  thule-admin-server:
    image: thule-admin-server
    environment:
      THULE_CONFIG_SERVICE_HOST: thule-config-service
      THULE_CONFIG_SERVICE_PORT: 8080
      THULE_DISCOVERY_SERVICE_HOST: thule-discovery-service
      THULE_DISCOVERY_SERVICE_PORT: 8080
      TZ: Europe/London
    hostname: admin-server-1
    ports:
      - 9071:8080

  ################################  thule-config-service  ################################
  thule-config-service:
    image: thule-config-service
    environment:
      THULE_DISCOVERY_SERVICE_HOST: thule-discovery-service
      THULE_DISCOVERY_SERVICE_PORT: 8080
      TZ: Europe/London
    hostname: config-service-1
    ports:
      - 9888:8080

  ################################  thule-discovery-service  ################################
  thule-discovery-service:
    image: thule-discovery-service
    environment:
      THULE_CONFIG_SERVICE_HOST: thule-config-service
      THULE_CONFIG_SERVICE_PORT: 8080
      TZ: Europe/London
    hostname: discovery-service-1
    ports:
      - 9761:8080

  ################################  thule-edge-server  ################################
  thule-edge-server:
    image: thule-edge-server
    environment:
      THULE_CONFIG_SERVICE_HOST: thule-config-service
      THULE_CONFIG_SERVICE_PORT: 8080
      THULE_DISCOVERY_SERVICE_HOST: thule-discovery-service
      THULE_DISCOVERY_SERVICE_PORT: 8080
      TZ: Europe/London
    hostname: edge-server-1
    ports:
      - 9080:8080

  ################################  thule-email-server  ################################
  thule-email-service:
    image: thule-email-service
    environment:
      THULE_CONFIG_SERVICE_HOST: thule-config-service
      THULE_CONFIG_SERVICE_PORT: 8080
      THULE_DISCOVERY_SERVICE_HOST: thule-discovery-service
      THULE_DISCOVERY_SERVICE_PORT: 8080
      TZ: Europe/London
    hostname: email-server-1
    ports:
      - 9091:8080

  ################################  thule-people-service  ################################
  thule-people-service:
    image: thule-people-service
    environment:
      THULE_CONFIG_SERVICE_HOST: thule-config-service
      THULE_CONFIG_SERVICE_PORT: 8080
      THULE_DISCOVERY_SERVICE_HOST: thule-discovery-service
      THULE_DISCOVERY_SERVICE_PORT: 8080
      TZ: Europe/London
    hostname: people-service-1
    ports:
      - 9090:8080

  ################################  Servers and Databases Required By Container Tests  ################################
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      TZ: UTC
    networks:
      default:
        aliases:
          - mysql-host
    ports:
      - 3307:3306 # Required to allow container tests to test that the database has been written to when testing the api
    restart: always