<div class="space space612211">
  <div class="space space3112211">
    <img class="image7" src="/assets/images/default.svg" src="/assets/images/Logo horizontal splash white@2x.svg">
  </div>
  <div class="space space2112111">
    <div class="space space5112211">
      <h5 class="heading24 text-undefined text-alignment-left text-transform-none">Sign Up</h5>
      <p class="text134 text-undefined text-alignment-left text-transform-none paragraph">Get access for free.</p>
      <div class="space space71111">
        <button nbButton class="button12 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="google"></nb-icon>
          <span>Sign up with google</span>
        </button>
        <button nbButton class="button13 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="facebook"></nb-icon>
          <span>Sign up with facebook</span>
        </button>
        <button nbButton class="button18 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="linkedin"></nb-icon>
          <span>Sign up with facebook</span>
        </button>
      </div>
      <div class="space space911111">
        <p class="text136 text-undefined text-alignment-left text-transform-none paragraph">or</p>
      </div>
      <label class="text131 text-undefined text-alignment-left text-transform-none label">Full name</label>
      <input nbInput class="input24 size-xl-medium" placeholder="Your full name" type="text" shape="rectangle" status="basic">
      <label class="text132 text-undefined text-alignment-left text-transform-none label">Email</label>
      <input nbInput class="input25 size-xl-medium" placeholder="Your email" type="email" shape="rectangle" status="basic">
      <label class="text133 text-undefined text-alignment-left text-transform-none label">Password</label>
      <input nbInput class="input26 size-xl-medium" placeholder="Your password" type="password" shape="rectangle" status="basic">
      <nb-checkbox class="checkbox6" status="primary">I agree to the Terms of Service and Privacy Policy</nb-checkbox>
      <div class="space space4112211">
        <button nbButton class="button11 size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Sign Up</span>
        </button>
        <p class="text135 text-undefined text-alignment-left text-transform-none paragraph">Already have an account?</p>
        <a routerLink="/Log-in" class="link text-undefined text-alignment-left text-transform-none text-decoration-underline">Log in</a>
      </div>
    </div>
  </div>
</div>