version: "3.5"
services:
  ################################  thule-people-service  ################################
  thule-people-service:
    image: pooh:8084/thule-people-service
    environment:
      THULE_PEOPLESERVICE_MYSQL_HOST: mysql
      TZ: Europe/London
    ports:
      - 9094:8080 # Required to allow docker tests to call the restful api
    volumes:
      # Since we are not using the configuration service to provide spring config, we add the config to the
      # docker containers file system in a standard spring boot location that spring boot uses to search for the config by default
      - thule-people-config:/config

  ################################  Servers and Databases Required By Docker tests  ################################
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      TZ: Europe/London
    ports:
      - 3308:3306 # Use 3306 for dev, 3307 for itest and 3308 for ctest so they can all execute simultaneously if required

volumes:
  thule-people-config:
    external: true