# Spring actuator configuration
info:
  description: Thule Gateway Service
  name: ${spring.application.name}

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

# Ribbon configuration
ribbon:
  ConnectTimeout: 20000 # Paramater passed to ribbon as is so the property is case sensitive, i.e. it cannot be connectTimeout or connect-timeout
  ReadTimeout: 60000 # Paramater passed to ribbon as is so the property is case sensitive, i.e. it cannot be readTimeout or read-timeout

# Spring Security configuration
security:
  oauth2:
    resource:
      jwt:
        key-value: secret

# Server configuration
server:
  # Required so that zuul forwarded requests have correct path to micro services when using x-forwarded headers via k8s
  forward-headers-strategy: framework

# Spring boot configuration
spring:
  application:
    name: thule-gateway-service
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh:9411
    sender:
      type: web

# Zuul configuration
zuul:
  # Defaults to Cookie,Set-Cookie,Authorization but means the basic authentication and auth bearer tokens header will not propagate to
  # down stream services. Hence Authorization has been removed from the sensitive headers blacklist
  sensitiveHeaders: Cookie,Set-Cookie
  ignoredServices:
    - "thule-admin-service"
    - "thule-configuration-service"
    - "thule-discovery-service"
    - "thule-gateway-service"

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh