# Spring actuator configuration
info:
  description: Thule Gateway Service
  name: ${spring.application.name}

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      group:
        liveness:
          include: livenessStateProbeIndicator,diskSpace,refreshScope
        readiness:
          include: readinessStateProbeIndicator
      show-details: ALWAYS

# Server configuration
server:
  # Required so that gateway forwarded requests have correct path to micro services when using x-forwarded headers via k8s
  forward-headers-strategy: framework

# Spring boot configuration
spring:
  application:
    name: thule-gateway-service
  cloud:
    gateway:
      default-filters:
        - TokenRelay
      discovery:
        locator:
          enabled: true
          url-expression: "'http://'+serviceId"
          predicates:
            - name: Path
              args:
                pattern: "'/thule-gateway-service/'+serviceId.toLowerCase()+'/**'"
          filters:
            - name: StripPrefix
              args:
                parts: 2
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/auth/realms/thule-test
            user-name-attribute: preferred_username
        registration:
          keycloak:
            client-id: thule-gateway-service
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh.serin-consultancy.co.uk:9411
    sender:
      type: web

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh.serin-consultancy.co.uk