<nb-card class="card22">
  <nb-card-header>
    <div class="space space144">
      <div class="space space173">
        <h6 class="heading12 text-undefined text-alignment-left text-transform-none">Hostels</h6>
      </div>
      <div class="space space1712">
        <input nbInput class="input3 size-xl-small" placeholder="Search" type="text" shape="rectangle" status="basic">
        <div class="space space68">
          <nb-icon class="icon30" nbTooltip="" icon="download-outline"></nb-icon>
          <nb-icon class="icon301" nbTooltip="" icon="settings-2-outline"></nb-icon>
          <nb-icon class="icon302" nbTooltip="" icon="sync-outline"></nb-icon>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space152">
      <app-table12></app-table12>
    </div>
  </nb-card-body>
</nb-card>