<div class="space space50">
  <div class="space space551">
    <div class="space space5421">
      <img class="image27" src="~/../assets/images/default.svg" src="~/../assets/images/Ресурс 1@4x-100.jpg">
    </div>
    <div class="space space60">
      <h4 class="heading42 text-undefined text-alignment-center text-transform-none">Page Not found</h4>
      <p class="text399 text-undefined text-alignment-center text-transform-none paragraph">We can't find the page you are looking for. You can either return to you preious page, visit our homepage or contact our support team.</p>
    </div>
    <div class="space space64">
      <button nbButton class="button19 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>VISIT HOMEPAGE</span>
      </button>
      <button nbButton class="button20 size-xl-medium" appearance="filled" status="basic">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>CONTACT US</span>
      </button>
    </div>
  </div>
</div>
