<nb-card class="card212">
  <nb-card-header>
    <div class="space space1413">
      <div class="space space1722">
        <h6 class="heading29 text-undefined text-alignment-left text-transform-none">Recent Project</h6>
      </div>
      <div class="space space17113">
        <nb-icon class="icon88" nbTooltip="Download" icon="download"></nb-icon>
        <nb-icon class="icon89" nbTooltip="Settings" icon="settings-2-outline"></nb-icon>
        <nb-icon class="icon90" nbTooltip="Sync" icon="sync-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space1512">
      <app-table111></app-table111>
    </div>
  </nb-card-body>
</nb-card>