---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thule-email-service-pod-reader
  namespace: thule
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thule-email-service-role-binding
  namespace: thule
roleRef:
  kind: ClusterRole
  name: thule-email-service-pod-reader
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: thule-email-service-account
    namespace: thule
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: thule-email-service
  namespace: thule
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thule-email-service
      namespace: thule
  template:
    metadata:
      labels:
        app: thule-email-service
        namespace: thule
    spec:
      serviceAccountName: thule-email-service-account
      containers:
        - name: thule-email-service
          image: pooh:8082/thule-email-service:1.0.0-SNAPSHOT
          imagePullPolicy: Always
          env:
            - name: JDK_JAVA_OPTIONS
              value: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
            - name: SPRING_MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: thule-email-service-secret
                  key: mail-username
            - name: SPRING_MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: thule-email-service-secret
                  key: mail-password
            - name: SPRING_PROFILES_ACTIVE
              value: cit
            - name: THULE_SHARED_OAUTH2_RESOURCESERVER_JWS_ENABLED
              value: "false"
            - name: TZ
              value: Europe/London
            - name: ROLLOUT_TIME
              value:
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: service-port
            initialDelaySeconds: 300
            periodSeconds: 30
            timeoutSeconds: 10
          ports:
            - containerPort: 8080
              name: service-port
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: service-port
            periodSeconds: 30
            timeoutSeconds: 10
      hostAliases:
        - ip: 192.168.0.102
          hostnames:
            - pooh
---
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2beta1
metadata:
  name: thule-email-service-hpa
  namespace: thule
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: thule-email-service
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        targetAverageUtilization: 80
---
kind: Ingress
apiVersion: extensions/v1beta1
metadata:
  annotations:
    kubernetes.io/ingress.allow-http: "false"
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/x-forwarded-prefix: "/thule-email-service"
  name: thule-email-service-ingress
  namespace: thule
spec:
  rules:
    - host: piglet
      http:
        paths:
          - path: /thule-email-service(/|$)(.*)
            backend:
              serviceName: thule-email-service
              servicePort: 80
---
#kind: Secret
#apiVersion: v1
#metadata:
#  name: thule-email-service-secret
#  namespace: thule
#type: Opaque
#data:
#  mail-username: dGh1bGVAc2VyaW4tY29uc3VsdGFuY3kuY28udWs=
#  mail-password: MW5zbGV5b3BpZQ==
---
kind: Service
apiVersion: v1
metadata:
  name: thule-email-service
  namespace: thule
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: thule-email-service
    namespace: thule
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: thule-email-service-account
  namespace: thule
