<nb-card class="card221">
  <nb-card-header>
    <div class="space space1441">
      <div class="space space17121">
        <div class="space space1731121">
          <h6 class="heading411 text-undefined text-alignment-left text-transform-none">All Students</h6>
        </div>
        <div class="space space17121121">
          <input nbInput class="input341 size-xl-small" placeholder="Search" type="text" shape="rectangle" status="basic">
          <div class="space space661">
            <nb-icon class="icon1311" nbTooltip="" icon="download-outline"></nb-icon>
            <nb-icon class="icon1321" nbTooltip="" icon="settings-2-outline"></nb-icon>
            <nb-icon class="icon1331" nbTooltip="" icon="sync-outline"></nb-icon>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space1521">
      <app-table121></app-table121>
    </div>
  </nb-card-body>
</nb-card>