<nb-card class="card15112">
  <nb-card-header>
    <div class="space space54112">
      <h6 class="heading18 text-undefined text-alignment-left text-transform-none">Add New Subject</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space64112">
      <div class="space space72213">
        <label class="text109 text-undefined text-alignment-left text-transform-none label">Subject Name</label>
        <input nbInput class="input19 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
        <label class="text110 text-undefined text-alignment-left text-transform-none label">Subject Type</label>
        <input nbInput class="input20 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
        <label class="text111 text-undefined text-alignment-left text-transform-none label">Subject Code</label>
        <nb-select class="select8 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="Big">Big</nb-option>    
            <nb-option value="Medium">Medium</nb-option>    
            <nb-option value="Large">Large</nb-option>
        </nb-select>
        <label class="text112 text-undefined text-alignment-left text-transform-none label">Teacher</label>
        <nb-select class="select9 size-xl-medium" placeholder="select" status="primary">    
            <nb-option value="Aaron Jason">Aaron Jason</nb-option>    
            <nb-option value="Amily Watson">Amily Watson</nb-option>
        </nb-select>
      </div>
      <div class="space space722111">
        <button nbButton class="button6 size-xl-medium" appearance="filled" status="success">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>add</span>
        </button>
        <button nbButton class="button7 size-xl-medium" appearance="filled" status="info">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>reset</span>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>