<nb-card class="card2111">
  <nb-card-header>
    <div class="space space14121">
      <div class="space space17211">
        <h6 class="heading30 text-undefined text-alignment-left text-transform-none">Homework</h6>
      </div>
      <div class="space space171111">
        <nb-icon class="icon91" nbTooltip="" icon="link-2"></nb-icon>
        <nb-icon class="icon92" nbTooltip="" icon="close-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space15111">
      <div class="space space14252111">
        <div class="space space37">
          <nb-checkbox class="checkbox7" status="success">Get up</nb-checkbox>
          <nb-icon class="icon93" nbTooltip="" icon="trash-2-outline"></nb-icon>
        </div>
        <div class="space space371">
          <nb-checkbox class="checkbox8" status="success">Don't give up the fight</nb-checkbox>
          <nb-icon class="icon94" nbTooltip="" icon="trash-2-outline"></nb-icon>
        </div>
        <div class="space space3711">
          <nb-checkbox class="checkbox9" status="success">Do something else</nb-checkbox>
          <nb-icon class="icon95" nbTooltip="" icon="trash-2-outline"></nb-icon>
        </div>
        <div class="space space37111">
          <nb-checkbox class="checkbox10" status="success">Do homework</nb-checkbox>
          <nb-icon class="icon96" nbTooltip="" icon="trash-2-outline"></nb-icon>
        </div>
      </div>
      <div class="space space1425211">
        <input nbInput class="input31 size-xl-medium" placeholder="Write new item and hit &quot;Enter&quot;" type="text" shape="rectangle" status="basic">
      </div>
    </div>
  </nb-card-body>
</nb-card>