version: "3.5"
services:
  ################################  thule-people-service  ################################
  thule-people-service:
    image: thule-people-service
    environment:
      EUREKA_CLIENT_ENABLED: "false" # Standalone container tests do not need a discovery service
      LOGGING_LEVEL_UK_CO_SERIN: trace
      SPRING_CLOUD_CONFIG_ENABLED: "false" # Standalone container tests do not need a config server
      SPRING_FLYWAY_BASELINE-ON-MIGRATE: "true" # Allow for case where the schema exists but Flyway did not create it
      THULE_PEOPLESERVICE_MYSQL_HOST: mysql
      TZ: Europe/London
    ports:
      - 9093:8080 # Required to allow container tests to call the restful api
    restart: always # Spring context will fail to initialize if MySql is not ready because Flyway is dependent upon its availability

  ################################  Servers and Databases Required By Container Tests  ################################
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      TZ: UTC
    ports:
      - 3308:3306 # Use 3306 for dev, 3307 for itest and 3308 for ctest so they can all execute simultaneously if required