# Eureka configuration
eureka:
  client:
    serviceUrl:
      # Location of peer discovery services to keep the registry in sync across all discovery services, in this case we only have a single node so it refers to itself
      defaultZone: http://${thule.discoveryservice.host:thule-discovery-service}:${thule.discoveryservice.port:8080}/eureka/
  instance:
    # Hostname will be the docker container hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    prefer-ip-address: true

# Spring actuator configuration
info:
  description: Thule Gateway Service
  name: ${spring.application.name}

# Spring logging
logging:
  level:
    uk.co.serin.thule: info
    org.springframework: info

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

# Ribbon configuration
ribbon:
  ConnectTimeout: 20000 # Paramater passed to ribbon as is so the property is case sensitive, i.e. it cannot be connectTimeout or connect-timeout
  ReadTimeout: 60000 # Paramater passed to ribbon as is so the property is case sensitive, i.e. it cannot be readTimeout or read-timeout

# Spring boot configuration
spring:
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh:9411
    sender:
      type: web

# Zuul configuration
zuul:
  # Defaults to Cookie,Set-Cookie,Authorization but means the basic authentication and auth bearer tokens header will not propagate to
  # down stream services. Hence Authorization has been removed from the sensitive headers blacklist
  sensitiveHeaders: Cookie,Set-Cookie
  ignoredServices:
    - "thule-admin-service"
    - "thule-configuration-service"
    - "thule-discovery-service"
    - "thule-gateway-service"

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh