<nb-card class="card222">
  <nb-card-header>
    <div class="space space1442">
      <div class="space space1732">
        <h6 class="heading19 text-undefined text-alignment-left text-transform-none">Subjects</h6>
      </div>
      <div class="space space17122">
        <input nbInput class="input18 size-xl-small" placeholder="Search" type="text" shape="rectangle" status="basic">
        <div class="space space65">
          <nb-icon class="icon52" nbTooltip="" icon="download-outline"></nb-icon>
          <nb-icon class="icon53" nbTooltip="" icon="settings-2-outline"></nb-icon>
          <nb-icon class="icon54" nbTooltip="" icon="sync"></nb-icon>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space1522">
      <app-table122></app-table122>
    </div>
  </nb-card-body>
</nb-card>