<table class="table122">
  <thead>
    <th class="column1">
      <div class="space space1822">
        <span class="text113 text-undefined text-alignment-left text-transform-none subtitle">Subject Code</span>
      </div>
    </th>
    <th class="column2">
      <div class="space space1922">
        <span class="text114 text-undefined text-alignment-left text-transform-none subtitle">Name</span>
      </div>
    </th>
    <th class="column3">
      <div class="space space2652">
        <span class="space2682 text-undefined text-alignment-left text-transform-none subtitle">Type</span>
      </div>
    </th>
    <th class="column4">
      <div class="space space2752">
        <span class="space2782 text-undefined text-alignment-left text-transform-none subtitle">Teacher</span>
      </div>
    </th>
    <th class="column5">
      <div class="space space2912">
        <span class="space2941 text-undefined text-alignment-left text-transform-none subtitle">Action</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space2022">
          <nb-checkbox class="checkbox4" status="success">20210</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2222">
          <p class="text115 text-undefined text-alignment-left text-transform-none paragraph">Anotomy</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2662">
          <p class="text117 text-undefined text-alignment-left text-transform-none paragraph">Biology</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2762">
          <p class="text119 text-undefined text-alignment-left text-transform-none paragraph">	 Richi Hasan</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2922">
          <nb-icon class="icon55" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="icon56" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="icon57" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space2322">
          <nb-checkbox class="checkbox5" status="success">22015</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2422">
          <p class="text116 text-undefined text-alignment-left text-transform-none paragraph">Physics</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2672">
          <p class="text118 text-undefined text-alignment-left text-transform-none paragraph">Tech</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2772">
          <p class="text120 text-undefined text-alignment-left text-transform-none paragraph">Jennifer Fill</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space2932">
          <nb-icon class="icon58" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="icon59" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="icon60" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space42">
          <nb-checkbox class="checkbox25" status="success">22020</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space space422">
          <p class="text387 text-undefined text-alignment-left text-transform-none paragraph">Math</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space423">
          <p class="text390 text-undefined text-alignment-left text-transform-none paragraph">Tech</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space424">
          <p class="text393 text-undefined text-alignment-left text-transform-none paragraph">Julie Rich</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space425">
          <nb-icon class="icon149" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="icon150" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="icon151" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space47">
          <nb-checkbox class="checkbox26" status="success">22030</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space space471">
          <p class="text388 text-undefined text-alignment-left text-transform-none paragraph">Programming</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space472">
          <p class="text391 text-undefined text-alignment-left text-transform-none paragraph">Tech</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space473">
          <p class="text394 text-undefined text-alignment-left text-transform-none paragraph">Will Will</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space474">
          <nb-icon class="icon152" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="icon153" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="icon154" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space49">
          <nb-checkbox class="checkbox27" status="success">22040</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space space492">
          <p class="text389 text-undefined text-alignment-left text-transform-none paragraph">Literature</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space493">
          <p class="text392 text-undefined text-alignment-left text-transform-none paragraph">Humanitarian</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space494">
          <p class="text395 text-undefined text-alignment-left text-transform-none paragraph">Mark Sude</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space495">
          <nb-icon class="icon155" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="icon156" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="icon157" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>  
  </tbody>
</table>