version: "3.5"
services:
  ################################  thule-admin-service  ################################
  thule-admin-service:
    image: pooh:8082/thule-admin-service
    environment:
      JDK_JAVA_OPTIONS: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7093:8080
    restart: always

  ################################  thule-configuration-service  ################################
  thule-configuration-service:
    image: pooh:8082/thule-configuration-service
    environment:
      JDK_JAVA_OPTIONS: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
      # Since we are not using the configuration service to provide spring config, we instruct spring to use the config
      # from a docker volume created at build time which contains the source for this micro-service
      SPRING_CONFIG_ADDITIONAL_LOCATION: /thule-cloud/thule-cloud-config/build/resources/main/config/
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7888:8080
    restart: always
    volumes:
    - thule-cloud-docker-tests:/thule-cloud

  ################################  thule-discovery-service  ################################
  thule-discovery-service:
    image: pooh:8082/thule-discovery-service
    environment:
      JDK_JAVA_OPTIONS: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7761:8080
    restart: always

  ################################  thule-gateway -service ################################
  thule-gateway-service:
    image: pooh:8082/thule-gateway-service
    environment:
      JDK_JAVA_OPTIONS: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7091:8080
    restart: always

  ################################  thule-email-service  ################################
  thule-email-service:
    image: pooh:8082/thule-email-service
    environment:
      JDK_JAVA_OPTIONS: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7095:8080
    restart: always

  ################################  thule-people-service  ################################
  thule-people-service:
    image: pooh:8082/thule-people-service
    environment:
      JDK_JAVA_OPTIONS: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7094:8080
    restart: always

  ################################  Servers and Databases Required By Docker tests  ################################
  mysql-people-service:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      TZ: Europe/London
    restart: always

volumes:
  thule-cloud-docker-tests:
    external: true