version: "3.5"
services:
  ################################  thule-admin-service  ################################
  thule-admin-service:
    image: pooh:8082/thule-admin-service
    environment:
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7092:8080
    restart: always

  ################################  thule-configuration-service  ################################
  thule-configuration-service:
    image: pooh:8082/thule-configuration-service
    environment:
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7888:8080
    restart: always
    volumes:
    - thule-cloud-config:/config

  ################################  thule-discovery-service  ################################
  thule-discovery-service:
    image: pooh:8082/thule-discovery-service
    environment:
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7761:8080
    restart: always

  ################################  thule-gateway -service ################################
  thule-gateway-service:
    image: pooh:8082/thule-gateway-service
    environment:
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7091:8080
    restart: always

  ################################  thule-email-service  ################################
  thule-email-service:
    image: pooh:8082/thule-email-service
    environment:
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7094:8080
    restart: always

  ################################  thule-people-service  ################################
  thule-people-service:
    image: pooh:8082/thule-people-service
    environment:
      SPRING_PROFILES_ACTIVE: cit
      TZ: Europe/London
    ports:
    - 7093:8080
    restart: always

  ################################  Servers and Databases Required By Docker tests  ################################
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      TZ: Europe/London
    restart: always

volumes:
  thule-cloud-config:
    external: true