# Eureka configuration
eureka:
  client:
    enabled: false

# Spring boot configuration
spring:
  flyway:
    enabled: false
  jpa:
    database: mysql

# Thule configuration
thule:
  peopleservice:
    api:
      host: 172.17.0.1 # Docker bridge IP address
      port: 9093
    mysql:
      host: 172.17.0.1 # Docker bridge IP address
      port: 3308 # Use 3306 for dev, 3307 for itest and 3308 for ctest so they can all execute simultaneously if required
