# Eureka configuration
eureka:
  instance:
    # Hostname will be the docker generated hostname by default which will not will not be accessible outside of the host itself, so use ipaddress instead
    preferIpAddress: true
  client:
    serviceUrl:
      # Location of the discovery service to register this service
      defaultZone: http://${thule.discovery.service.host:localhost}:${thule.discovery.service.port:8761}/eureka/

# Spring actuator configuration
info:
  description: Thule People Service
  name: ${spring.application.name}

# Spring logging
logging:
  level:
    jdbc.audit: error
    jdbc.connection: error
    jdbc.resultset: error
    jdbc.sqlonly: error
    jdbc.sqltiming: error
    org.springframework: info
    uk.co.serin: trace

# Spring server configuration
server:
  port: 8080

# Spring boot configuration
spring:
  application:
    name: thule-people-service
  datasource:
    driver-class-name: net.sf.log4jdbc.DriverSpy
    password: thule
    url: jdbc:log4jdbc:mysql://${thule.peopleservice.mysql.host}:${thule.peopleservice.mysql.port}/thule
    username: thule
  flyway:
    password: root
    url: jdbc:mysql://${thule.peopleservice.mysql.host}:${thule.peopleservice.mysql.port}/mysql
    user: root
  security:
    user:
      password: user
      roles: USER,ADMIN
  sleuth:
      sampler:
        probability: 1.0 # 1.0 = 100%
  zipkin:
    baseUrl: http://172.17.0.1:9411 # Docker bridge IP address
    sender:
      type: web

# Thule configuration
thule:
  peopleservice:
    mysql:
      host: 172.17.0.1 # Docker bridge IP address
      port: 3306
  shared:
    logging:
      logstash:
        host: 172.17.0.1 # Docker bridge IP address
        port: 5400
