# Spring logging configuration
logging:
  level:
    uk.co.serin: trace

# Spring server configuration
server:
  port: 8093

# Spring boot configuration
spring:
  flyway:
    baseline-on-migrate: true

# Thule configuration
thule:
  discoveryservice:
    port: 8761