# Spring server configuration
server:
  port: 8094

# Spring boot configuration
spring:
  cloud:
    kubernetes:
      discovery:
        enabled: false
  datasource:
    password: thule
    username: thule
  flyway:
    password: root
    user: root
  zipkin:
    enabled: false

# Thule configuration
thule:
  peopleservice:
    mysql:
      schema: thule
  shared:
    logging:
      logstash:
        enabled: false
