# Spring boot configuration
spring:
  datasource:
    password: thule
    username: thule
  flyway:
    user: root
  zipkin:
    enabled: false

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: false

######################################### NESTED INTEGRATION TEST PROFILES #######################################
---
spring:
  profiles: itest-h2
  # Spring boot configuration
  flyway:
    enabled: false

---
spring:
  profiles: itest-hsql
  # Spring boot configuration
  datasource:
    url: jdbc:log4jdbc:hsqldb:mem:testdb
  flyway:
    enabled: false

---
spring:
  profiles: itest-oracle
  # Spring boot configuration
  datasource:
    password: thule
    url: jdbc:log4jdbc:oracle:thin:@//localhost:${thule.peopleservice.oracle.port}/XEPDB1
    username: thule
  flyway:
    locations: classpath:oracle/db/migration
    password: oracle
    schemas: THULE # Flyway will force schema name to be whichever case is specified but needs to be upper case for oracle
    url: jdbc:oracle:thin:@//localhost:${thule.peopleservice.oracle.port}/XEPDB1
    user: system
