# Spring actuator configuration
info:
  description: Thule People Service
  name: ${spring.application.name}

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      group:
        liveness:
          include: livenessStateProbeIndicator,diskSpace,refreshScope
        readiness:
          include: readinessStateProbeIndicator
      show-details: ALWAYS

# Server configuration
server:
  # Required so that hateoas links have correct path to resources when using x-forwarded headers via k8s
  forward-headers-strategy: framework

# Spring boot configuration
spring:
  application:
    name: thule-people-service
  cloud:
    kubernetes:
      ribbon:
        mode: service
    loadbalancer:
      ribbon:
        enabled: false
  datasource:
    driver-class-name: net.sf.log4jdbc.DriverSpy
    hikari:
      initializationFailTimeout: -1
    url: jdbc:log4jdbc:mysql://${thule.peopleservice.mysql.host}:${thule.peopleservice.mysql.port}/${thule.peopleservice.mysql.schema}?serverTimezone=Europe/London
  flyway:
    connect-retries: 120
    placeholders:
      password: ${spring.datasource.password}
      schema-name: ${thule.peopleservice.mysql.schema}
      username: ${spring.datasource.username}
    schemas: ${thule.peopleservice.mysql.schema}
    url: jdbc:mysql://${thule.peopleservice.mysql.host}:${thule.peopleservice.mysql.port}
  security:
    oauth2:
      client:
        provider:
          keycloak:
            token-uri: http://localhost:8080/auth/realms/thule-test/protocol/openid-connect/token
        registration:
          keycloak:
            authorization-grant-type: client_credentials
            client-id: thule-people-service
            client-secret: client-secret
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/auth/realms/thule-test
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh.serin-consultancy.co.uk:9411
    sender:
      type: web

# Thule configuration
thule:
  peopleservice:
    mysql:
      host: localhost
      port: 3306
      schema: thule
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh.serin-consultancy.co.uk