# Spring actuator configuration
info:
  description: Thule People Service
  name: ${spring.application.name}

# Management endpoint configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

# Spring Security configuration
security:
  oauth2:
    client:
      access-token-uri: http://thule-authentication-service/oauth/token
      client-id: ${spring.application.name}
      client-secret:  secret
      grant-type: client_credentials
      scope:  All
    resource:
      jwt:
        key-value: secret

# Spring boot configuration
spring:
  application:
    name: thule-people-service
  cloud:
    kubernetes:
      ribbon:
        mode: service
    loadbalancer:
      ribbon:
        enabled: false
  datasource:
    driver-class-name: net.sf.log4jdbc.DriverSpy
    hikari:
      initializationFailTimeout: -1
    url: jdbc:log4jdbc:mysql://${thule.peopleservice.mysql.host}:${thule.peopleservice.mysql.port}/${thule.peopleservice.mysql.schema}?serverTimezone=Europe/London
  flyway:
    connect-retries: 120
    placeholders:
      password: ${spring.datasource.password}
      schema-name: ${thule.peopleservice.mysql.schema}
      username: ${spring.datasource.username}
    schemas: ${thule.peopleservice.mysql.schema}
    url: jdbc:mysql://${thule.peopleservice.mysql.host}:${thule.peopleservice.mysql.port}
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://pooh:9411
    sender:
      type: web

# Thule configuration
thule:
  peopleservice:
    mysql:
      host: localhost
      port: 3306
      schema: mysql
  shared:
    logging:
      logstash:
        enabled: true
        host: pooh