# Spring boot configuration
spring:
  cloud:
    discovery:
      client:
        simple:
          instances:
            thule-email-service:
              - uri: http://localhost:8080
    kubernetes:
      discovery:
        enabled: false
    loadbalancer:
      ribbon:
        enabled: false
  datasource:
    password: thule
    username: thule
  flyway:
    password: root
    user: root
  zipkin:
    enabled: false

# Thule configuration
thule:
  peopleservice:
    mysql:
      schema: thule
  shared:
    logging:
      logstash:
        enabled: false