# Eureka configuration
eureka:
  client:
    enabled: false

# Spring logging configuration
logging:
  level:
    uk.co.serin: trace

# Spring boot configuration
spring:
  flyway:
    baseline-on-migrate: true

# Thule configuration
thule:
  peopleservice:
    mysql:
      host: 172.17.0.1 # Docker bridge IP address
      port: 3307 # Use 3306 for dev, 3307 for itest and 3308 for ctest so they can all execute simultaneously if required

######################################### NESTED INTEGRATION TEST PROFILES #######################################
---
spring:
  profiles: itest-h2
# Spring boot configuration
  flyway:
    enabled: false

---
spring:
  profiles: itest-hsql
# Spring boot configuration
  datasource:
    url: jdbc:log4jdbc:hsqldb:mem:testdb
  flyway:
    enabled: false

---
spring:
  profiles: itest-oracle
# Spring boot configuration
  datasource:
    password: thule
    url: jdbc:log4jdbc:oracle:thin:@oracle:1521:xe
    username: thule
  flyway:
    locations: classpath:oracle/db/migration
    password: oracle
    url: jdbc:oracle:thin:@oracle:1521:xe
    user: system
