# Spring boot configuration
spring:
  cloud:
    discovery:
      client:
        simple:
          instances:
            thule-email-service:
              - uri: http://localhost:${wiremock.server.port}
    kubernetes:
      enabled: false
    loadbalancer:
      ribbon:
        enabled: false
  datasource:
    password: thule
    username: thule
  flyway:
    user: root
  zipkin:
    enabled: false

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        enabled: false
    oauth2:
      resourceserver:
        jws:
          enabled: false