version: "3.7"
services:
  ################################  thule-gateway  ################################
  thule-gateway:
    image: pooh:8084/thule-gateway-service
    environment:
      JDK_JAVA_OPTIONS: -XX:InitialHeapSize=256m -XX:MaxHeapSize=256m -XX:MaxMetaspaceSize=256m
      SPRING_CLOUD_CONFIG_ENABLED: "false"
      SPRING_CLOUD_KUBERNETES_DISCOVERY_ENABLED: "false"
      SPRING_ZIPKIN_ENABLED: "false"
      THULE_SHARED_LOGGING_LOGSTASH_ENABLED: "false"
      TZ: Europe/London
    networks:
      - thule-gateway-service
    ports:
      - 9091:8080

networks:
  thule-gateway-service:

