<nb-card class="card1411">
  <nb-card-header>
    <div class="space space5311">
      <h4 class="heading17 text-undefined text-alignment-left text-transform-none">Teacher Details</h4>
      <div class="space space171121">
        <nb-icon class="icon48" nbTooltip="Edit" icon="edit"></nb-icon>
        <nb-icon class="icon49" nbTooltip="Print" icon="printer-outline"></nb-icon>
        <nb-icon class="icon50" nbTooltip="Download" icon="download-outline"></nb-icon>
        <nb-icon class="icon51" nbTooltip="" icon="more-vertical"></nb-icon>
        <nb-icon class="icon115" nbTooltip="Share" icon="share"></nb-icon>
        <nb-icon class="icon116" nbTooltip="Settings" icon="settings-2-outline"></nb-icon>
        <nb-icon class="icon117" nbTooltip="Sync" icon="sync"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space6311">
      
    </div>
  </nb-card-body>
</nb-card>