# Spring actuator configuration
info:
  description: Thule Config Service
  name: ${spring.application.name}

# Spring logging
logging:
  level:
    org.springframework: info
    uk.co.serin: trace

# Spring server configuration
server:
  port: 8080

# Spring boot configuration
spring:
  cloud:
    config:
      server:
        native:
          searchLocations: classpath:/config/{application}
  sleuth:
      sampler:
        probability: 1.0
  zipkin:
    baseUrl: http://172.17.0.1:9411 # Docker bridge IP address

# Thule configuration
thule:
  shared:
    logging:
      logstash:
        host: 172.17.0.1 # Docker bridge IP address
        port: 5400