version: "3.5"
services:
  ################################  thule-gateway  ################################
  thule-gateway:
    image: pooh:8084/thule-gateway-service
    environment:
      EUREKA_CLIENT_ENABLED: "false" # Docker tests do not need a discovery registry
      THULE_GATEWAYSERVICE_HEALTHCHECK_SERVICES: "" # Intentionally empty
      SPRING_CLOUD_CONFIG_ENABLED: "false" # Docker tests do not need a configuration service
      TZ: Europe/London
    ports:
    - 9091:8080 # Required to allow docker tests to call the restful api
    volumes:
    # Since we are not using the configuration service to provide spring config, we add the config to the
    # docker containers file system in a standard spring boot location that spring boot uses to search for the config by default
    - thule-gateway-config:/config

volumes:
  thule-gateway-config:
    external: true