<nb-card class="card2">
  <nb-card-header>
    <div class="space space14">
      <h5 class="heading5 text-undefined text-alignment-left text-transform-none">All Exam Results</h5>
      <div class="space space17">
        <div class="space space45">
          <input nbInput class="input size-xl-small" placeholder="Search by exam" type="text" shape="rectangle" status="basic">
          <input nbInput class="input1 size-xl-small" placeholder="Search by date" type="text" shape="rectangle" status="basic">
        </div>
        <div class="space space53">
          <nb-icon class="icon9 large" nbTooltip="" icon="settings-2-outline"></nb-icon>
          <nb-icon class="icon10 large" nbTooltip="" icon="sync-outline"></nb-icon>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space15">
      <app-table1></app-table1>
    </div>
  </nb-card-body>
</nb-card>