<div class="space space61221111">
  <div class="space space311221111">
    <img class="image9" src="assets/images/default.svg" src="assets/images/Logo horizontal splash white@2x2.svg">
  </div>
  <div class="space space211211111">
    <div class="space space511221111">
      <h5 class="heading26 text-undefined text-alignment-left text-transform-none">Forgot you password?</h5>
      <div class="space space91111111">
        <p class="text142 text-undefined text-alignment-left text-transform-none paragraph">Enter the email you’ve registered with. We’ll send you the instructions there.</p>
      </div>
      <label class="text140 text-undefined text-alignment-left text-transform-none label">Email</label>
      <input nbInput class="input29 size-xl-medium" placeholder="Your email" type="email" shape="rectangle" status="basic">
      <button nbButton class="button17 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Reset Password</span>
      </button>
      <div class="space space411221111">
        <p class="text141 text-undefined text-alignment-left text-transform-none paragraph">Go back to the</p>
        <a routerLink="/Log-in" class="link1 text-undefined text-alignment-left text-transform-none text-decoration-underline">Login page</a>
      </div>
    </div>
  </div>
</div>
